= form_for @pharmacy do |f|
  - if @pharmacy.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pharmacy.errors.count, "error")} prohibited this pharmacy from being saved:"
      %ul
        - @pharmacy.errors.full_messages.each do |msg|
          %li= msg

  .large-3.column
    = f.label :name
    = f.text_field :name
  .large-3.column
    = f.label :phone
    = f.text_field :phone
  .large-3.column
    = f.label :address1
    = f.text_field :address1
  .large-3.column
    = f.label :address2
    = f.text_field :address2
  .large-3.column
    = f.label :city
    = f.text_field :city
  .large-3.column
    = f.label :state
    = f.text_field :state
  .large-3.column
    = f.label :zip
    = f.text_field :zip
  .large-3.column
    = f.label :website
    = f.text_field :website
  .row
    .large-2.columns
      = f.submit 'Save', class: 'button tiny'
