%h1 Listing medications

%table
  %thead
    %tr
      %th Name
      %th Dosage
      %th Form
      %th Amount i take
      %th Days i take
      %th Quantity
      %th Date prescribed
      %th Last refill
      %th Days ahead reminder
      %th Pharmacy
      %th Doctor
      %th Notes
      %th
      %th
      %th
  %tbody
    - @medications.each do |medication|
      %tr
        %td= medication.name
        %td= medication.dosage
        %td= medication.form
        %td= medication.amount_i_take
        %td= medication.days_i_take
        %td= medication.quantity
        %td= medication.date_prescribed
        %td= medication.last_refill
        %td= medication.days_ahead_reminder
        %td= medication.pharmacy
        %td= medication.doctor
        %td= medication.notes
        %td= link_to 'Show', medication
        %td= link_to 'Edit', edit_medication_path(medication)
        %td= link_to 'Destroy', medication, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Medication', new_medication_path

#list
  %a{name: "A"}
  %a{name: "Ab"}
  %a{name: "Aba"}
  %a{name: "Abac"}
  %a{name: "Abaca"}
  %a{name: "Abacav"}
  .rule
  .med
    %a{href: "javascript:selectPill(920,true)"}
      %strong Abacavir sulfate, ABC
      300 mg Tablet(s)
  %a{name: "AB"}
  %a{name: "ABD"}
  %a{name: "ABDE"}
  %a{name: "ABDEK"}
  %a{name: "ABDEK"}
  .rule
  .med
    %a{href: "javascript:selectPill(6869,false)"}
      %strong ABDEK
      mg Tablet(s)
  %a{name: "Ab"}
  %a{name: "Abe"}
  %a{name: "Abel"}
  %a{name: "Abelc"}
  %a{name: "Abelce"}
  .rule
  .med
    %a{href: "javascript:selectPill(3934,false)"}
      %strong
        Abelcet
        %span.super ®
      5 mg/mL Injection(s)
  %a{name: "Abi"}
  %a{name: "Abil"}
  %a{name: "Abili"}
  %a{name: "Abilif"}
  .rule
  .med
    %a{href: "javascript:selectPill(7534,false)"}
      %strong
        Abilify Discmelt
        %span.super ®
      10 mg Orally disintegrating tablet(s)
  .med
    %a{href: "javascript:selectPill(7568,false)"}
      %strong
        Abilify Discmelt
        %span.super ®
      15 mg Orally disintegrating tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(1,false)"}
      %strong
        Abilify
        %span.super ®
      1 mg/mL mL(s)
  .med
    %a{href: "javascript:selectPill(5,false)"}
      %strong
        Abilify
        %span.super ®
      2 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(7,false)"}
      %strong
        Abilify
        %span.super ®
      5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(2,false)"}
      %strong
        Abilify
        %span.super ®
      10 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(3,false)"}
      %strong
        Abilify
        %span.super ®
      15 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(4,false)"}
      %strong
        Abilify
        %span.super ®
      20 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(6,false)"}
      %strong
        Abilify
        %span.super ®
      30 mg Tablet(s)
  %a{name: "Ac"}
  %a{name: "Aca"}
  %a{name: "Acar"}
  %a{name: "Acarb"}
  %a{name: "Acarbo"}
  .rule
  .med
    %a{href: "javascript:selectPill(661,true)"}
      %strong Acarbose
      25 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(662,true)"}
      %strong Acarbose
      50 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(660,true)"}
      %strong Acarbose
      100 mg Tablet(s)
  %a{name: "Acc"}
  %a{name: "Acco"}
  %a{name: "Accol"}
  %a{name: "Accola"}
  .rule
  .med
    %a{href: "javascript:selectPill(4930,false)"}
      %strong
        Accolate
        %span.super ®
      10 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(4931,false)"}
      %strong
        Accolate
        %span.super ®
      20 mg Tablet(s)
  %a{name: "Accu"}
  %a{name: "Accun"}
  %a{name: "Accune"}
  .rule
  .med
    %a{href: "javascript:selectPill(4364,false)"}
      %strong
        Accuneb
        %span.super ®
      0.042 % mL(s)
  .med
    %a{href: "javascript:selectPill(4365,false)"}
      %strong
        Accuneb
        %span.super ®
      0.021 % mL(s)
  .med
    %a{href: "javascript:selectPill(7529,false)"}
      %strong
        Accuneb
        %span.super ®
      0.63 mg/3 mL mL(s)
  %a{name: "Accup"}
  %a{name: "Accupr"}
  .rule
  .med
    %a{href: "javascript:selectPill(11,false)"}
      %strong
        Accupril
        %span.super ®
      5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(8,false)"}
      %strong
        Accupril
        %span.super ®
      10 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(9,false)"}
      %strong
        Accupril
        %span.super ®
      20 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(10,false)"}
      %strong
        Accupril
        %span.super ®
      40 mg Tablet(s)
  %a{name: "Accur"}
  %a{name: "Accure"}
  .rule
  .med
    %a{href: "javascript:selectPill(3935,false)"}
      %strong
        Accuretic
        %span.super ®
      12.5 mg/10 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(3936,false)"}
      %strong
        Accuretic
        %span.super ®
      12.5 mg/20 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(3937,false)"}
      %strong
        Accuretic
        %span.super ®
      25 mg/20 mg Tablet(s)
  %a{name: "Accut"}
  %a{name: "Accuta"}
  .rule
  .med
    %a{href: "javascript:selectPill(6455,false)"}
      %strong
        Accutane
        %span.super ®
      10 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(6456,false)"}
      %strong
        Accutane
        %span.super ®
      20 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(6457,false)"}
      %strong
        Accutane
        %span.super ®
      40 mg Capsule(s)
  %a{name: "Ace"}
  %a{name: "Aceb"}
  %a{name: "Acebu"}
  %a{name: "Acebut"}
  .rule
  .med
    %a{href: "javascript:selectPill(12,true)"}
      %strong Acebutolol Hydrochloride
      200 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(13,true)"}
      %strong Acebutolol Hydrochloride
      400 mg Capsule(s)
  %a{name: "Aceo"}
  %a{name: "Aceon"}
  %a{name: "Aceon<"}
  .rule
  .med
    %a{href: "javascript:selectPill(14,false)"}
      %strong
        Aceon
        %span.super ®
      2 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(15,false)"}
      %strong
        Aceon
        %span.super ®
      4 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(16,false)"}
      %strong
        Aceon
        %span.super ®
      8 mg Tablet(s)
  %a{name: "Acet"}
  %a{name: "Aceta"}
  %a{name: "Acetam"}
  .rule
  .med
    %a{href: "javascript:selectPill(5672,true)"}
      %strong Acetaminophen
      650 mg Caplet(s)
  .med
    %a{href: "javascript:selectPill(5290,true)"}
      %strong Acetaminophen
      80 mg/0.8 mL Drop(s)
  .med
    %a{href: "javascript:selectPill(7595,true)"}
      %strong Acetaminophen
      32 mg/mL mL(s)
  .med
    %a{href: "javascript:selectPill(6861,true)"}
      %strong Acetaminophen
      100 mg/mL mL(s)
  .med
    %a{href: "javascript:selectPill(4053,true)"}
      %strong Acetaminophen
      325 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(4055,true)"}
      %strong Acetaminophen
      500 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(6333,true)"}
      %strong Acetaminophen /Diphenhydramine HCL
      500 mg/ 25 mg Caplet(s)
  .med
    %a{href: "javascript:selectPill(6332,true)"}
      %strong Acetaminophen /Diphenhydramine HCL
      500 mg/ 25 mg Gelcap(s)
  .rule
  .med
    %a{href: "javascript:selectPill(6354,true)"}
      %strong Acetaminophen, USP/ Chlorpheniramine Maleate, USP/ Dextromethorphan HBr, USP/ Phenylephrine HCI, USP
      160 mg/1 mg/5 mg/2.5 mg mL
  .rule
  .med
    %a{href: "javascript:selectPill(5825,true)"}
      %strong Acetaminophen/ Codeine phosphate
      120 mg/5 mL; 12 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(4217,true)"}
      %strong Acetaminophen/ Codeine phosphate
      300 mg/30 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(4938,true)"}
      %strong Acetaminophen/ Codeine Phosphate
      325 mg/30 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(3968,true)"}
      %strong Acetaminophen/ Hydrocodone Bitartrate
      325 mg/5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(3969,true)"}
      %strong Acetaminophen/ Hydrocodone Bitartrate
      325 mg/7.5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(849,true)"}
      %strong Acetaminophen/ Hydrocodone Bitartrate
      300 mg/5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(3967,true)"}
      %strong Acetaminophen/ Hydrocodone Bitartrate
      325 mg/10 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(6853,true)"}
      %strong Acetaminophen/ Hydrocodone Bitartrate
      500 mg/2.5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(6854,true)"}
      %strong Acetaminophen/ Hydrocodone Bitartrate
      500 mg/7.5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(6855,true)"}
      %strong Acetaminophen/ Hydrocodone Bitartrate
      500 mg/10 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(4466,true)"}
      %strong Acetaminophen/ Hydrocodone Bitartrate
      650 mg/7.5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(4467,true)"}
      %strong Acetaminophen/ Hydrocodone Bitartrate
      650 mg/10 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(847,true)"}
      %strong Acetaminophen/ Hydrocodone Bitartrate
      300 mg/10 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(852,true)"}
      %strong Acetaminophen/ Hydrocodone Bitartrate
      300 mg/7.5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(6856,true)"}
      %strong Acetaminophen/ Hydrocodone Bitartrate
      750 mg/10 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(4872,true)"}
      %strong Acetaminophen/ Oxycodone Hydrochloride
      325 mg/5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(4873,true)"}
      %strong Acetaminophen/ Oxycodone Hydrochloride
      500 mg/5 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(281,true)"}
      %strong Acetaminophen/ Propoxyphene Napsylate
      650 mg/100 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(4220,true)"}
      %strong Acetaminophen/ Tramadol Hydrochloride
      325 mg/37.5 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(6536,true)"}
      %strong Acetaminophen/​Codeine Phosphate
      300 mg/30 mg Tablets
  .med
    %a{href: "javascript:selectPill(6537,true)"}
      %strong Acetaminophen/​Codeine Phosphate
      300 mg/60 mg Tablets
  .rule
  .med
    %a{href: "javascript:selectPill(6311,true)"}
      %strong Acetaminophen/Aspirin/Caffeine
      250 mg/250 mg/65 mg Caplet(s)
  .med
    %a{href: "javascript:selectPill(6315,true)"}
      %strong Acetaminophen/Aspirin/Caffeine
      250 mg/250 mg/65 mg Caplet(s)
  .med
    %a{href: "javascript:selectPill(6644,true)"}
      %strong Acetaminophen/Aspirin/Caffeine
      250 mg/250 mg/65 mg Express Gel(s)
  .med
    %a{href: "javascript:selectPill(6313,true)"}
      %strong Acetaminophen/Aspirin/Caffeine
      250 mg/250 mg/65 mg Geltabs
  .med
    %a{href: "javascript:selectPill(6309,true)"}
      %strong Acetaminophen/Aspirin/Caffeine
      250 mg/250 mg/65 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(6314,true)"}
      %strong Acetaminophen/Aspirin/Caffeine
      250 mg/250 mg/65 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(6319,true)"}
      %strong Acetaminophen/Buffered Aspirin
      250 mg/250 mg Caplet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(6317,true)"}
      %strong Acetaminophen/Caffeine
      500 mg/65 mg Caplet(s)
  .med
    %a{href: "javascript:selectPill(6318,true)"}
      %strong Acetaminophen/Caffeine
      500 mg/65 mg Express Gel(s)
  .med
    %a{href: "javascript:selectPill(6316,true)"}
      %strong Acetaminophen/Caffeine
      500 mg/65 mg Geltabs
  .rule
  .med
    %a{href: "javascript:selectPill(6321,true)"}
      %strong Acetaminophen/Diphenhydramine Citrate
      500 mg/38 mg Caplet(s)
  .med
    %a{href: "javascript:selectPill(6320,true)"}
      %strong Acetaminophen/Diphenhydramine Citrate
      500 mg/38 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(5952,true)"}
      %strong Acetaminophen/Phenylephrine
      325 mg/5 mg Capsule(s)
  .rule
  .med
    %a{href: "javascript:selectPill(6322,true)"}
      %strong Acetaminophen/Phenylephrine HCI
      325 mg/ 5 mg Caplet(s)
  %a{name: "AcetaZ"}
  .rule
  .med
    %a{href: "javascript:selectPill(6106,true)"}
      %strong AcetaZOLAMIDE
      50 mg/mL mL(s)
  .med
    %a{href: "javascript:selectPill(4098,true)"}
      %strong AcetaZOLAMIDE
      125 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(4099,true)"}
      %strong AcetaZOLAMIDE
      250 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(6105,false)"}
      %strong AcetaZOLAMIDE Oral Suspension
      25 mg/mL  mL(s)
  %a{name: "Aceti"}
  %a{name: "Acetic"}
  .rule
  .med
    %a{href: "javascript:selectPill(6107,true)"}
      %strong Acetic Acid Solution
      0.5 % mL(s)
  %a{name: "Acety"}
  %a{name: "Acetyl"}
  .rule
  .med
    %a{href: "javascript:selectPill(7331,true)"}
      %strong Acetylcysteine
      10 % Puff(s)
  .med
    %a{href: "javascript:selectPill(7332,true)"}
      %strong Acetylcysteine
      20 % Puff(s)
  .rule
  .med
    %a{href: "javascript:selectPill(6108,true)"}
      %strong Acetylcysteine Solution 5%,
      50 mg/mL mL(s)
  %a{name: "Aci"}
  %a{name: "Acid"}
  %a{name: "Acido"}
  %a{name: "Acidop"}
  .rule
  .med
    %a{href: "javascript:selectPill(4537,false)"}
      %strong
        Acidophilus
        %span.super ®
      mg Capsule(s)
  %a{name: "Acip"}
  %a{name: "AcipH"}
  %a{name: "AcipHe"}
  .rule
  .med
    %a{href: "javascript:selectPill(17,false)"}
      %strong
        AcipHex
        %span.super ®
      20 mg Tablet(s)
  %a{name: "Acl"}
  %a{name: "Aclo"}
  %a{name: "Aclov"}
  %a{name: "Aclova"}
  .rule
  .med
    %a{href: "javascript:selectPill(4024,false)"}
      %strong
        Aclovate
        %span.super ®
      0.05 % Application(s) (Cream)
  .rule
  .med
    %a{href: "javascript:selectPill(4023,false)"}
      %strong
        Aclovate
        %span.super ®
      0.05 % Application(s) (Ointment)
  %a{name: "Act"}
  %a{name: "Acte"}
  %a{name: "Actem"}
  %a{name: "Actemr"}
  .rule
  .med
    %a{href: "javascript:selectPill(7076,false)"}
      %strong
        Actemra
        %span.super ®
      80 mg/4 mL Infusion
  .med
    %a{href: "javascript:selectPill(7077,false)"}
      %strong
        Actemra
        %span.super ®
      200 mg/10 mL Infusion
  .med
    %a{href: "javascript:selectPill(7078,false)"}
      %strong
        Actemra
        %span.super ®
      400 mg/20 mL Infusion
  %a{name: "Acth"}
  %a{name: "Actha"}
  %a{name: "Acthar"}
  .rule
  .med
    %a{href: "javascript:selectPill(7582,false)"}
      %strong
        Acthar
        %span.super ®
        HP
      80 Units/mL Injection(s)
  %a{name: "Acti"}
  %a{name: "Actid"}
  %a{name: "Actido"}
  .rule
  .med
    %a{href: "javascript:selectPill(5631,false)"}
      %strong
        Actidose with Sorbitol
        %span.super ®
      25 G/120 mL mL(s)
  .med
    %a{href: "javascript:selectPill(5632,false)"}
      %strong
        Actidose with Sorbitol
        %span.super ®
      50 G/240 mL mL(s)
  %a{name: "Actig"}
  %a{name: "Actiga"}
  .rule
  .med
    %a{href: "javascript:selectPill(18,false)"}
      %strong Actigall
      300 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(3844,false)"}
      %strong Actigall
      25 mg/mL mL(s)
  .med
    %a{href: "javascript:selectPill(3845,false)"}
      %strong Actigall
      50 mg/mL mL(s)
  .med
    %a{href: "javascript:selectPill(3846,false)"}
      %strong Actigall
      60 mg/mL mL(s)
  %a{name: "Actim"}
  %a{name: "Actimm"}
  .rule
  .med
    %a{href: "javascript:selectPill(7024,false)"}
      %strong
        Actimmune
        %span.super ®
      0.5 mL/ Vial Injection(s)
  %a{name: "Actiq"}
  %a{name: "Actiq<"}
  .rule
  .med
    %a{href: "javascript:selectPill(4720,false)"}
      %strong
        Actiq
        %span.super ®
      200 mcg Lozenge
  .med
    %a{href: "javascript:selectPill(4721,false)"}
      %strong
        Actiq
        %span.super ®
      400 mcg Lozenge
  .med
    %a{href: "javascript:selectPill(4722,false)"}
      %strong
        Actiq
        %span.super ®
      600 mcg Lozenge
  .med
    %a{href: "javascript:selectPill(4723,false)"}
      %strong
        Actiq
        %span.super ®
      800 mcg Lozenge
  .med
    %a{href: "javascript:selectPill(4724,false)"}
      %strong
        Actiq
        %span.super ®
      1,200 mcg Lozenge
  .med
    %a{href: "javascript:selectPill(4725,false)"}
      %strong
        Actiq
        %span.super ®
      1,600 mcg Lozenge
  %a{name: "Activ"}
  %a{name: "Active"}
  .rule
  .med
    %a{href: "javascript:selectPill(6465,false)"}
      %strong
        Activella
        %span.super ®
      0.5 mg/0.1 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(6466,false)"}
      %strong
        Activella
        %span.super ®
      1 mg/0.5 mg Tablet(s)
  %a{name: "Acto"}
  %a{name: "Acton"}
  %a{name: "Actone"}
  .rule
  .med
    %a{href: "javascript:selectPill(21,false)"}
      %strong
        Actonel
        %span.super ®
      5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(19,false)"}
      %strong
        Actonel
        %span.super ®
      30 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(20,false)"}
      %strong
        Actonel
        %span.super ®
      35 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(6416,false)"}
      %strong
        Actonel
        %span.super ®
      150 mg Tablet(s)
  %a{name: "Actop"}
  %a{name: "Actopl"}
  .rule
  .med
    %a{href: "javascript:selectPill(5302,false)"}
      %strong
        Actoplus Met
        %span.super ®
      15 mg/500 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(5303,false)"}
      %strong
        Actoplus Met
        %span.super ®
      15 mg/850 mg Tablet(s)
  %a{name: "Actos"}
  %a{name: "Actos<"}
  .rule
  .med
    %a{href: "javascript:selectPill(22,false)"}
      %strong
        Actos
        %span.super ®
      15 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(23,false)"}
      %strong
        Actos
        %span.super ®
      30 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(24,false)"}
      %strong
        Actos
        %span.super ®
      45 mg Tablet(s)
  %a{name: "Acu"}
  %a{name: "Acul"}
  %a{name: "Acula"}
  %a{name: "Acular"}
  .rule
  .med
    %a{href: "javascript:selectPill(4411,false)"}
      %strong
        Acular
        %span.super ®
      0.5 % Drop(s)
  %a{name: "Acuv"}
  %a{name: "Acuva"}
  %a{name: "Acuvai"}
  .rule
  .med
    %a{href: "javascript:selectPill(6656,false)"}
      %strong
        Acuvail
        %span.super ®
      0.45 % Drop(s)
  %a{name: "Acy"}
  %a{name: "Acyc"}
  %a{name: "Acycl"}
  %a{name: "Acyclo"}
  .rule
  .med
    %a{href: "javascript:selectPill(942,true)"}
      %strong Acyclovir
      200 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(943,true)"}
      %strong Acyclovir
      200 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(944,true)"}
      %strong Acyclovir
      400 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(945,true)"}
      %strong Acyclovir
      800 mg Tablet(s)
  %a{name: "Acz"}
  %a{name: "Aczo"}
  %a{name: "Aczon"}
  %a{name: "Aczone"}
  .rule
  .med
    %a{href: "javascript:selectPill(7509,false)"}
      %strong
        Aczone
        %span.super ®
      5 % Application(s) (Gel)
  %a{name: "Ad"}
  %a{name: "Ada"}
  %a{name: "Adal"}
  %a{name: "Adala"}
  %a{name: "Adalat"}
  .rule
  .med
    %a{href: "javascript:selectPill(25,false)"}
      %strong
        Adalat CC
        %span.super ®
      30 mg Extended Release Tablet(s)
  .med
    %a{href: "javascript:selectPill(26,false)"}
      %strong
        Adalat CC
        %span.super ®
      60 mg Extended Release Tablet(s)
  .med
    %a{href: "javascript:selectPill(27,false)"}
      %strong
        Adalat CC
        %span.super ®
      90 mg Extended Release Tablet(s)
  %a{name: "Adap"}
  %a{name: "Adapa"}
  %a{name: "Adapal"}
  .rule
  .med
    %a{href: "javascript:selectPill(4375,true)"}
      %strong Adapalene (Cream)
      0.1 % Application(s) (Cream)
  .rule
  .med
    %a{href: "javascript:selectPill(4376,true)"}
      %strong Adapalene (Gel)
      0.1 % Application(s) (Gel)
  %a{name: "Adc"}
  %a{name: "Adci"}
  %a{name: "Adcir"}
  %a{name: "Adcirc"}
  .rule
  .med
    %a{href: "javascript:selectPill(6507,false)"}
      %strong
        Adcirca
        %span.super ®
      20 mg Tablet(s)
  %a{name: "Add"}
  %a{name: "Adde"}
  %a{name: "Adder"}
  %a{name: "Addera"}
  .rule
  .med
    %a{href: "javascript:selectPill(33,false)"}
      %strong
        Adderall XR
        %span.super ®
      5 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(28,false)"}
      %strong
        Adderall XR
        %span.super ®
      10 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(29,false)"}
      %strong
        Adderall XR
        %span.super ®
      15 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(30,false)"}
      %strong
        Adderall XR
        %span.super ®
      20 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(31,false)"}
      %strong
        Adderall XR
        %span.super ®
      25 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(32,false)"}
      %strong
        Adderall XR
        %span.super ®
      30 mg Capsule(s)
  .rule
  .med
    %a{href: "javascript:selectPill(39,false)"}
      %strong
        Adderall
        %span.super ®
      5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(40,false)"}
      %strong
        Adderall
        %span.super ®
      7.5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(34,false)"}
      %strong
        Adderall
        %span.super ®
      10 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(35,false)"}
      %strong
        Adderall
        %span.super ®
      12.5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(36,false)"}
      %strong
        Adderall
        %span.super ®
      15 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(37,false)"}
      %strong
        Adderall
        %span.super ®
      20 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(38,false)"}
      %strong
        Adderall
        %span.super ®
      30 mg Tablet(s)
  %a{name: "AD"}
  %a{name: "ADE"}
  %a{name: "ADEK"}
  %a{name: "ADEK<"}
  %a{name: "ADEK<s"}
  .rule
  .med
    %a{href: "javascript:selectPill(4932,false)"}
      %strong
        ADEK
        %span.super ®
      mg Tablet(s)
  %a{name: "Ad"}
  %a{name: "Ade"}
  %a{name: "Aden"}
  %a{name: "Adeno"}
  %a{name: "Adenos"}
  .rule
  .med
    %a{href: "javascript:selectPill(5563,false)"}
      %strong
        Adenoscan
        %span.super ®
      3 mg/mL Infusion
  %a{name: "Adr"}
  %a{name: "Adri"}
  %a{name: "Adria"}
  %a{name: "Adriam"}
  .rule
  .med
    %a{href: "javascript:selectPill(4727,false)"}
      %strong
        Adriamycin PFS
        %span.super ®
      2 mg/mL Injection(s)
  .med
    %a{href: "javascript:selectPill(4726,false)"}
      %strong
        Adriamycin PFS
        %span.super ®
      200 mg/100 mL Injection(s)
  %a{name: "Adv"}
  %a{name: "Adva"}
  %a{name: "Advai"}
  %a{name: "Advair"}
  .rule
  .med
    %a{href: "javascript:selectPill(41,false)"}
      %strong
        Advair Diskus
        %span.super ®
      100 mcg/50 mcg Puff(s)
  .med
    %a{href: "javascript:selectPill(42,false)"}
      %strong
        Advair Diskus
        %span.super ®
      250 mcg/50 mcg Puff(s)
  .med
    %a{href: "javascript:selectPill(43,false)"}
      %strong
        Advair Diskus
        %span.super ®
      500 mcg/50 mcg Puff(s)
  .rule
  .med
    %a{href: "javascript:selectPill(6438,false)"}
      %strong
        Advair
        %span.super ®
        HFA
      0.045 mg/0.021 mg Puff(s)
  .med
    %a{href: "javascript:selectPill(6439,false)"}
      %strong
        Advair
        %span.super ®
        HFA
      0.115 mg/0.021 mg Puff(s)
  .med
    %a{href: "javascript:selectPill(6440,false)"}
      %strong
        Advair
        %span.super ®
        HFA
      0.23 mg/ 0.021 mg Puff(s)
  %a{name: "Advat"}
  %a{name: "Advate"}
  .rule
  .med
    %a{href: "javascript:selectPill(6801,false)"}
      %strong
        Advate
        %span.super ®
      250 International Units Infusion
  .med
    %a{href: "javascript:selectPill(6802,false)"}
      %strong
        Advate
        %span.super ®
      375 International Units Infusion
  .med
    %a{href: "javascript:selectPill(6803,false)"}
      %strong
        Advate
        %span.super ®
      500 International Units Infusion
  .med
    %a{href: "javascript:selectPill(6804,false)"}
      %strong
        Advate
        %span.super ®
      750 International Units Infusion
  .med
    %a{href: "javascript:selectPill(6805,false)"}
      %strong
        Advate
        %span.super ®
      1,000 International Units Infusion
  .med
    %a{href: "javascript:selectPill(6806,false)"}
      %strong
        Advate
        %span.super ®
      1,500 International Units Infusion
  .med
    %a{href: "javascript:selectPill(6807,false)"}
      %strong
        Advate
        %span.super ®
      1,700 International Units Infusion
  .med
    %a{href: "javascript:selectPill(6808,false)"}
      %strong
        Advate
        %span.super ®
      2,000 International Units Infusion
  .med
    %a{href: "javascript:selectPill(6809,false)"}
      %strong
        Advate
        %span.super ®
      2,500 International Units  Infusion
  .med
    %a{href: "javascript:selectPill(6810,false)"}
      %strong
        Advate
        %span.super ®
      3,000 International Units  Infusion
  %a{name: "Advi"}
  %a{name: "Advic"}
  %a{name: "Advico"}
  .rule
  .med
    %a{href: "javascript:selectPill(45,false)"}
      %strong
        Advicor
        %span.super ®
      20 mg/500 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(46,false)"}
      %strong
        Advicor
        %span.super ®
      20 mg/750 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(44,false)"}
      %strong
        Advicor
        %span.super ®
      20 mg/1,000 mg Tablet(s)
  %a{name: "Advil"}
  %a{name: "Advil<"}
  .rule
  .med
    %a{href: "javascript:selectPill(4507,false)"}
      %strong
        Advil
        %span.super ®
      200 mg Tablet(s)
  %a{name: "Ae"}
  %a{name: "Aer"}
  %a{name: "Aero"}
  %a{name: "Aerob"}
  %a{name: "Aerobi"}
  .rule
  .med
    %a{href: "javascript:selectPill(4933,false)"}
      %strong
        Aerobid
        %span.super ®
      0.25 mg/Inh Puff(s)
  %a{name: "Af"}
  %a{name: "Afi"}
  %a{name: "Afin"}
  %a{name: "Afini"}
  %a{name: "Afinit"}
  .rule
  .med
    %a{href: "javascript:selectPill(6371,false)"}
      %strong
        Afinitor
        %span.super ®
      5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(6372,false)"}
      %strong
        Afinitor
        %span.super ®
      10 mg Tablet(s)
  %a{name: "Afr"}
  %a{name: "Afri"}
  %a{name: "Afrin"}
  %a{name: "Afrin<"}
  .rule
  .med
    %a{href: "javascript:selectPill(6367,false)"}
      %strong
        Afrin
        %span.super ®
      mL Spray
  %a{name: "Ag"}
  %a{name: "Age"}
  %a{name: "Agen"}
  %a{name: "Agene"}
  %a{name: "Agener"}
  .rule
  .med
    %a{href: "javascript:selectPill(48,false)"}
      %strong
        Agenerase
        %span.super ®
      50 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(47,false)"}
      %strong
        Agenerase
        %span.super ®
      150 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(49,false)"}
      %strong
        Agenerase
        %span.super ®
      15 mg/mL mL(s)
  %a{name: "Agg"}
  %a{name: "Aggr"}
  %a{name: "Aggre"}
  %a{name: "Aggren"}
  .rule
  .med
    %a{href: "javascript:selectPill(4538,false)"}
      %strong
        Aggrenox
        %span.super ®
      25 mg/200 mg Capsule(s)
  %a{name: "Agr"}
  %a{name: "Agry"}
  %a{name: "Agryl"}
  %a{name: "Agryli"}
  .rule
  .med
    %a{href: "javascript:selectPill(6733,false)"}
      %strong
        Agrylin
        %span.super ®
      0.5 mg Capsule(s)
  %a{name: "Ak"}
  %a{name: "Aki"}
  %a{name: "Akin"}
  %a{name: "Akine"}
  %a{name: "Akinet"}
  .rule
  .med
    %a{href: "javascript:selectPill(4715,false)"}
      %strong
        Akineton
        %span.super ®
      2 mg Tablet(s)
  %a{name: "Al"}
  %a{name: "Ala"}
  %a{name: "Alav"}
  %a{name: "Alave"}
  %a{name: "Alaver"}
  .rule
  .med
    %a{href: "javascript:selectPill(7050,false)"}
      %strong
        Alavert
        %span.super ®
      10 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(7206,false)"}
      %strong
        Alavert
        %span.super ®
        D-12 Hour
      5 mg/120 mg Extended Release Tablet(s)
  %a{name: "Alb"}
  %a{name: "Albe"}
  %a{name: "Alben"}
  %a{name: "Albenz"}
  .rule
  .med
    %a{href: "javascript:selectPill(4025,false)"}
      %strong
        Albenza
        %span.super ®
      200 mg Tablet(s)
  %a{name: "Albu"}
  %a{name: "Album"}
  %a{name: "Albumi"}
  .rule
  .med
    %a{href: "javascript:selectPill(6109,true)"}
      %strong Albumin (Human)
      0.1 % mL(s)
  %a{name: "Albut"}
  %a{name: "Albute"}
  .rule
  .med
    %a{href: "javascript:selectPill(4923,false)"}
      %strong Albuterol
      0.5 % mL(s)
  .med
    %a{href: "javascript:selectPill(708,true)"}
      %strong Albuterol
      0.09 mg/actuation Puff(s)
  .med
    %a{href: "javascript:selectPill(7530,true)"}
      %strong Albuterol
      108 mcg Puff(s)
  .rule
  .med
    %a{href: "javascript:selectPill(4364,true)"}
      %strong Albuterol sulfate
      0.042 % mL(s)
  .med
    %a{href: "javascript:selectPill(4365,true)"}
      %strong Albuterol sulfate
      0.021 % mL(s)
  .med
    %a{href: "javascript:selectPill(7529,true)"}
      %strong Albuterol sulfate
      0.63 mg/3 mL mL(s)
  .rule
  .med
    %a{href: "javascript:selectPill(5686,true)"}
      %strong Albuterol Sulfate
      0.09 mg/inhale Puff(s)
  .rule
  .med
    %a{href: "javascript:selectPill(4922,true)"}
      %strong Albuterol Sulfate, USP
      0.083 % mL(s)
  .med
    %a{href: "javascript:selectPill(4923,true)"}
      %strong Albuterol Sulfate, USP
      0.5 % mL(s)
  .med
    %a{href: "javascript:selectPill(4924,true)"}
      %strong Albuterol Sulfate, USP
      2 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(4925,true)"}
      %strong Albuterol Sulfate, USP
      2 mg   Tablet(s)
  .med
    %a{href: "javascript:selectPill(4926,true)"}
      %strong Albuterol Sulfate, USP
      4 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(4921,true)"}
      %strong Albuterol, USP
      90 mcg/dose Puff(s)
  %a{name: "Alc"}
  %a{name: "Alcl"}
  %a{name: "Alclo"}
  %a{name: "Alclom"}
  .rule
  .med
    %a{href: "javascript:selectPill(4024,true)"}
      %strong Alclometasone Dipropionate (Cream)
      0.05 % Application(s) (Cream)
  .rule
  .med
    %a{href: "javascript:selectPill(4023,true)"}
      %strong Alclometasone Dipropionate (Ointment)
      0.05 % Application(s) (Ointment)
  %a{name: "Ald"}
  %a{name: "Alda"}
  %a{name: "Aldac"}
  %a{name: "Aldact"}
  .rule
  .med
    %a{href: "javascript:selectPill(5353,false)"}
      %strong
        Aldactazide
        %span.super ®
      25 mg/25 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(5354,false)"}
      %strong
        Aldactazide
        %span.super ®
      50 mg/50 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(51,false)"}
      %strong
        Aldactone
        %span.super ®
      25 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(52,false)"}
      %strong
        Aldactone
        %span.super ®
      50 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(50,false)"}
      %strong
        Aldactone
        %span.super ®
      100 mg Tablet(s)
  %a{name: "Aldar"}
  %a{name: "Aldara"}
  .rule
  .med
    %a{href: "javascript:selectPill(4403,false)"}
      %strong
        Aldara
        %span.super ®
      5 % Application (cream)
  %a{name: "Aldo"}
  %a{name: "Aldom"}
  %a{name: "Aldome"}
  .rule
  .med
    %a{href: "javascript:selectPill(5136,false)"}
      %strong
        Aldomet
        %span.super ®
      125 mg  Tablet(s)
  .med
    %a{href: "javascript:selectPill(5137,false)"}
      %strong
        Aldomet
        %span.super ®
      250 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(5138,false)"}
      %strong
        Aldomet
        %span.super ®
      500 mg  Tablet(s)
  %a{name: "Ale"}
  %a{name: "Alen"}
  %a{name: "Alend"}
  %a{name: "Alendr"}
  .rule
  .med
    %a{href: "javascript:selectPill(7531,true)"}
      %strong Alendronate
      70 mg/75 mL mL(s)
  .med
    %a{href: "javascript:selectPill(359,true)"}
      %strong Alendronate
      5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(356,true)"}
      %strong Alendronate
      10 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(357,true)"}
      %strong Alendronate
      35 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(358,true)"}
      %strong Alendronate
      40 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(360,true)"}
      %strong Alendronate
      70 mg Tablet(s)
  %a{name: "Ales"}
  %a{name: "Aless"}
  %a{name: "Alesse"}
  .rule
  .med
    %a{href: "javascript:selectPill(4934,false)"}
      %strong
        Alesse
        %span.super ®
      0.02 mg/0.1 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(5725,false)"}
      %strong
        Alesse
        %span.super ®
        21
      0.02 mg/ 0.1 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(5726,false)"}
      %strong
        Alesse
        %span.super ®
        28
      0.02 mg/ 0.1 mg Tablet(s)
  %a{name: "Alev"}
  %a{name: "Aleve"}
  %a{name: "Aleve<"}
  .rule
  .med
    %a{href: "javascript:selectPill(4728,false)"}
      %strong
        Aleve
        %span.super ®
      220 mg Caplet(s)
  %a{name: "Alf"}
  %a{name: "Alfu"}
  %a{name: "Alfuz"}
  %a{name: "Alfuzo"}
  .rule
  .med
    %a{href: "javascript:selectPill(5689,true)"}
      %strong Alfuzosin Hydrochloride
      10 mg Extended release tablet(s)
  %a{name: "Ali"}
  %a{name: "Alig"}
  %a{name: "Align"}
  %a{name: "Align<"}
  .rule
  .med
    %a{href: "javascript:selectPill(6793,false)"}
      %strong
        Align
        %span.super ®
      4 mg Capsule(s)
  %a{name: "Alim"}
  %a{name: "Alimt"}
  %a{name: "Alimta"}
  .rule
  .med
    %a{href: "javascript:selectPill(5561,false)"}
      %strong
        Alimta
        %span.super ®
      100 mg/vial Infusion
  .med
    %a{href: "javascript:selectPill(5562,false)"}
      %strong
        Alimta
        %span.super ®
      500 mg/vial Infusion
  %a{name: "Alin"}
  %a{name: "Alini"}
  %a{name: "Alinia"}
  .rule
  .med
    %a{href: "javascript:selectPill(6812,false)"}
      %strong
        Alinia
        %span.super ®
      100 mg/5 ML mL(s)
  .med
    %a{href: "javascript:selectPill(6811,false)"}
      %strong
        Alinia
        %span.super ®
      500 mg Tablet(s)
  %a{name: "Alk"}
  %a{name: "Alke"}
  %a{name: "Alker"}
  %a{name: "Alkera"}
  .rule
  .med
    %a{href: "javascript:selectPill(4026,false)"}
      %strong
        Alkeran
        %span.super ®
      2 mg Tablet(s)
  %a{name: "All"}
  %a{name: "Alle"}
  %a{name: "Alleg"}
  %a{name: "Allegr"}
  .rule
  .med
    %a{href: "javascript:selectPill(55,false)"}
      %strong
        Allegra
        %span.super ®
      30 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(56,false)"}
      %strong
        Allegra
        %span.super ®
      60 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(54,false)"}
      %strong
        Allegra
        %span.super ®
      180 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(57,false)"}
      %strong
        Allegra-D
        %span.super ®
        12 hour
      60 mg/120 mg Extended Release Tablet(s)
  %a{name: "Allo"}
  %a{name: "Allop"}
  %a{name: "Allopu"}
  .rule
  .med
    %a{href: "javascript:selectPill(946,true)"}
      %strong Allopurinol
      100 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(947,true)"}
      %strong Allopurinol
      300 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(6110,false)"}
      %strong Allopurinol Suspension
      20 mg/mL mL(s)
  %a{name: "Alo"}
  %a{name: "Alox"}
  %a{name: "Aloxi"}
  %a{name: "Aloxi<"}
  .rule
  .med
    %a{href: "javascript:selectPill(5586,false)"}
      %strong
        Aloxi
        %span.super ®
      0.5 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(5584,false)"}
      %strong
        Aloxi
        %span.super ®
      0.25 mg/5 mL Injection(s)
  .med
    %a{href: "javascript:selectPill(5585,false)"}
      %strong
        Aloxi
        %span.super ®
      0.075 mg/1.5 mL Injection(s)
  %a{name: "Alp"}
  %a{name: "Alph"}
  %a{name: "Alpha"}
  %a{name: "Alphag"}
  .rule
  .med
    %a{href: "javascript:selectPill(7536,false)"}
      %strong
        Alphagan P
        %span.super ®
      0.1 % Drop(s)
  .med
    %a{href: "javascript:selectPill(4056,false)"}
      %strong
        Alphagan P
        %span.super ®
      0.15 % Drop(s)
  %a{name: "Alpha-"}
  .rule
  .med
    %a{href: "javascript:selectPill(5191,true)"}
      %strong Alpha-lipoic Acid
      250 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(5192,true)"}
      %strong Alpha-lipoic Acid
      300 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(5193,true)"}
      %strong Alpha-lipoic Acid
      600 mg Capsule(s)
  %a{name: "Alpr"}
  %a{name: "Alpra"}
  %a{name: "Alpraz"}
  .rule
  .med
    %a{href: "javascript:selectPill(7451,true)"}
      %strong Alprazolam
      0.5 mg Extended Release Tablet(s)
  .med
    %a{href: "javascript:selectPill(7452,true)"}
      %strong Alprazolam
      1 mg Extended Release Tablet(s)
  .med
    %a{href: "javascript:selectPill(7453,true)"}
      %strong Alprazolam
      2 mg Extended Release Tablet(s)
  .med
    %a{href: "javascript:selectPill(7454,true)"}
      %strong Alprazolam
      3 mg Extended Release Tablet(s)
  .med
    %a{href: "javascript:selectPill(891,true)"}
      %strong Alprazolam
      0.25 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(892,true)"}
      %strong Alprazolam
      0.5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(893,true)"}
      %strong Alprazolam
      1 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(894,true)"}
      %strong Alprazolam
      2 mg Tablet(s)
  %a{name: "Alr"}
  %a{name: "Alre"}
  %a{name: "Alrex"}
  %a{name: "Alrex<"}
  .rule
  .med
    %a{href: "javascript:selectPill(4405,false)"}
      %strong
        Alrex
        %span.super ®
      0.2 % Drop(s)
  %a{name: "Als"}
  %a{name: "Alsu"}
  %a{name: "Alsum"}
  %a{name: "Alsuma"}
  .rule
  .med
    %a{href: "javascript:selectPill(7079,false)"}
      %strong
        Alsuma
        %span.super ®
      6 mg/0.5 mL Injection(s)
  %a{name: "Alt"}
  %a{name: "Alta"}
  %a{name: "Altab"}
  %a{name: "Altaba"}
  .rule
  .med
    %a{href: "javascript:selectPill(5641,false)"}
      %strong
        Altabax
        %span.super ®
      1 % Application(s) (Ointment)
  %a{name: "Altac"}
  %a{name: "Altace"}
  .rule
  .med
    %a{href: "javascript:selectPill(58,false)"}
      %strong
        Altace
        %span.super ®
      1.25 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(60,false)"}
      %strong
        Altace
        %span.super ®
      2.5 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(61,false)"}
      %strong
        Altace
        %span.super ®
      5 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(59,false)"}
      %strong
        Altace
        %span.super ®
      10 mg Capsule(s)
  %a{name: "Alte"}
  %a{name: "Alter"}
  %a{name: "Altern"}
  .rule
  .med
    %a{href: "javascript:selectPill(4729,false)"}
      %strong
        AlternaGel
        %span.super ®
      600 mg/5 mL mL(s)
  %a{name: "Alu"}
  %a{name: "Alum"}
  %a{name: "Alumi"}
  %a{name: "Alumin"}
  .rule
  .med
    %a{href: "javascript:selectPill(4729,true)"}
      %strong Aluminum hydroxide
      600 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(4731,true)"}
      %strong Aluminum hydroxide
      600 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(4860,true)"}
      %strong Aluminum hydroxide / Magnesium hydroxide
      500 mg/500 mg mL(s)
  .rule
  .med
    %a{href: "javascript:selectPill(4861,true)"}
      %strong Aluminum hydroxide / Magnesium hydroxide / Simethicone
      400 mg/400 mg/40 mg mL(s)
  .med
    %a{href: "javascript:selectPill(4862,true)"}
      %strong Aluminum hydroxide / Magnesium hydroxide / Simethicone
      200 mg/200 mg/20 mg mL(s)
  .rule
  .med
    %a{href: "javascript:selectPill(7202,true)"}
      %strong Aluminum Hydroxide/ Magnesium Carbonate
      95 mg/358 mg mL(s)
  .med
    %a{href: "javascript:selectPill(7203,true)"}
      %strong Aluminum Hydroxide/ Magnesium Carbonate
      254 mg/237.5 mg mL(s)
  .med
    %a{href: "javascript:selectPill(7201,true)"}
      %strong Aluminum Hydroxide/ Magnesium Carbonate
      160 mg/105 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(4469,true)"}
      %strong Aluminum Hydroxide/ Magnesium Hydroxide/ Simethicone
      5 mL mL(s)
  .rule
  .med
    %a{href: "javascript:selectPill(7200,true)"}
      %strong Aluminum Hydroxide/ Magnesium Trisilicate
      80 mg/20 mg Tablet(s)
  %a{name: "Alv"}
  %a{name: "Alve"}
  %a{name: "Alves"}
  %a{name: "Alvesc"}
  .rule
  .med
    %a{href: "javascript:selectPill(7051,false)"}
      %strong
        Alvesco
        %span.super ®
      0.8 mg/Inh Puff(s)
  .med
    %a{href: "javascript:selectPill(7052,false)"}
      %strong
        Alvesco
        %span.super ®
      0.16 mg/Inh Puff(s)
  %a{name: "Am"}
  %a{name: "Ama"}
  %a{name: "Aman"}
  %a{name: "Amant"}
  %a{name: "Amanta"}
  .rule
  .med
    %a{href: "javascript:selectPill(4716,true)"}
      %strong Amantadine Hydrochloride
      50 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(4717,true)"}
      %strong Amantadine Hydrochloride
      100 mg Tablet(s)
  %a{name: "Amar"}
  %a{name: "Amary"}
  %a{name: "Amaryl"}
  .rule
  .med
    %a{href: "javascript:selectPill(62,false)"}
      %strong
        Amaryl
        %span.super ®
      1 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(63,false)"}
      %strong
        Amaryl
        %span.super ®
      2 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(64,false)"}
      %strong
        Amaryl
        %span.super ®
      4 mg Tablet(s)
  %a{name: "Amb"}
  %a{name: "Ambi"}
  %a{name: "Ambie"}
  %a{name: "Ambien"}
  .rule
  .med
    %a{href: "javascript:selectPill(4418,false)"}
      %strong
        Ambien CR
        %span.super ®
      6.25 mg Extended Release Tablet(s)
  .med
    %a{href: "javascript:selectPill(4419,false)"}
      %strong
        Ambien CR
        %span.super ®
      12.5 mg Extended Release Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(66,false)"}
      %strong
        Ambien
        %span.super ®
      5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(65,false)"}
      %strong
        Ambien
        %span.super ®
      10 mg Tablet(s)
  %a{name: "AmB"}
  %a{name: "AmBi"}
  %a{name: "AmBis"}
  %a{name: "AmBiso"}
  .rule
  .med
    %a{href: "javascript:selectPill(4730,false)"}
      %strong
        AmBisome
        %span.super ®
      50 mg/vial Injection(s)
  %a{name: "Amc"}
  %a{name: "Amci"}
  %a{name: "Amcin"}
  %a{name: "Amcino"}
  .rule
  .med
    %a{href: "javascript:selectPill(6018,false)"}
      %strong
        Amcinonide
        %span.super ®
      0.1 % Application(s) (lotion)
  .med
    %a{href: "javascript:selectPill(6017,false)"}
      %strong
        Amcinonide
        %span.super ®
      0.1 % Application(s) (ointment)
  %a{name: "Ame"}
  %a{name: "Amer"}
  %a{name: "Amerg"}
  %a{name: "Amerge"}
  .rule
  .med
    %a{href: "javascript:selectPill(4027,false)"}
      %strong
        Amerge
        %span.super ®
      1 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(4028,false)"}
      %strong
        Amerge
        %span.super ®
      2.5 mg Tablet(s)
  %a{name: "Ami"}
  %a{name: "Amic"}
  %a{name: "Amica"}
  %a{name: "Amicar"}
  .rule
  .med
    %a{href: "javascript:selectPill(5196,false)"}
      %strong
        Amicar
        %span.super ®
      250 mg/mL mL(s)
  .med
    %a{href: "javascript:selectPill(5194,false)"}
      %strong
        Amicar
        %span.super ®
      500 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(5195,false)"}
      %strong
        Amicar
        %span.super ®
      1,000 mg Tablet(s)
  %a{name: "Amid"}
  %a{name: "Amida"}
  %a{name: "Amidat"}
  .rule
  .med
    %a{href: "javascript:selectPill(5545,false)"}
      %strong
        Amidate
        %span.super ®
      2 mg/ mL IV
  %a{name: "Amik"}
  %a{name: "Amika"}
  %a{name: "Amikac"}
  .rule
  .med
    %a{href: "javascript:selectPill(4539,true)"}
      %strong Amikacin Sulfate
      50 mg/mL Injection(s)
  .med
    %a{href: "javascript:selectPill(4540,true)"}
      %strong Amikacin Sulfate
      250 mg/mL Injection(s)
  %a{name: "Amiki"}
  %a{name: "Amikin"}
  .rule
  .med
    %a{href: "javascript:selectPill(4539,false)"}
      %strong
        Amikin
        %span.super ®
      50 mg/mL Injection(s)
  .med
    %a{href: "javascript:selectPill(4540,false)"}
      %strong
        Amikin
        %span.super ®
      250 mg/mL Injection(s)
  %a{name: "Amil"}
  %a{name: "Amilo"}
  %a{name: "Amilor"}
  .rule
  .med
    %a{href: "javascript:selectPill(67,true)"}
      %strong Amiloride
      5 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(5150,true)"}
      %strong Amiloride Hci-Hydrochlorothiazide
      5 mg/50 mg Tablet(s)
  %a{name: "Amin"}
  %a{name: "Amino"}
  %a{name: "Aminoc"}
  .rule
  .med
    %a{href: "javascript:selectPill(5196,true)"}
      %strong Aminocaproic Acid
      250 mg/mL mL(s)
  .med
    %a{href: "javascript:selectPill(5194,true)"}
      %strong Aminocaproic Acid
      500 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(5195,true)"}
      %strong Aminocaproic Acid
      1,000 mg Tablet(s)
  %a{name: "Aminop"}
  .rule
  .med
    %a{href: "javascript:selectPill(5197,true)"}
      %strong Aminophylline
      25 mg/mL Injection(s)
  .med
    %a{href: "javascript:selectPill(5198,true)"}
      %strong Aminophylline
      100 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(5199,true)"}
      %strong Aminophylline
      200 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(6111,false)"}
      %strong Aminophylline Solution
      21 mg/mL mL(s)
  %a{name: "Amio"}
  %a{name: "Amiod"}
  %a{name: "Amioda"}
  .rule
  .med
    %a{href: "javascript:selectPill(6701,true)"}
      %strong Amiodarone Hydrochloride
      100 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(242,true)"}
      %strong Amiodarone Hydrochloride
      200 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(6112,false)"}
      %strong Amiodarone oral Suspension
      5 mg/mL mL(s)
  .rule
  .med
    %a{href: "javascript:selectPill(6113,false)"}
      %strong Amiodarone Suspension
      10 mg/mL mL(s)
  %a{name: "Amit"}
  %a{name: "Amiti"}
  %a{name: "Amitiz"}
  .rule
  .med
    %a{href: "javascript:selectPill(6324,false)"}
      %strong
        Amitiza
        %span.super ®
      8 ugm Capsule(s)
  .med
    %a{href: "javascript:selectPill(6323,false)"}
      %strong
        Amitiza
        %span.super ®
      24 ugm Capsule(s)
  %a{name: "Amitr"}
  %a{name: "Amitri"}
  .rule
  .med
    %a{href: "javascript:selectPill(316,true)"}
      %strong Amitriptyline
      10 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(318,true)"}
      %strong Amitriptyline
      25 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(319,true)"}
      %strong Amitriptyline
      50 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(320,true)"}
      %strong Amitriptyline
      75 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(315,true)"}
      %strong Amitriptyline
      100 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(317,true)"}
      %strong Amitriptyline
      150 mg Tablet(s)
  %a{name: "Aml"}
  %a{name: "Amlo"}
  %a{name: "Amlod"}
  %a{name: "Amlodi"}
  .rule
  .med
    %a{href: "javascript:selectPill(6114,false)"}
      %strong Amlodipine  Oral Suspension
      1 mg/mL mL(s)
  .rule
  .med
    %a{href: "javascript:selectPill(590,true)"}
      %strong Amlodipine Besylate
      2.5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(591,true)"}
      %strong Amlodipine Besylate
      5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(589,true)"}
      %strong Amlodipine Besylate
      10 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(6081,true)"}
      %strong Amlodipine/ Hydrochlorothiazide/  Valsartan
      5 mg/ 12.5 mg/ 160 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(6082,true)"}
      %strong Amlodipine/ Hydrochlorothiazide/  Valsartan
      5 mg/ 25 mg/ 160 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(6083,true)"}
      %strong Amlodipine/ Hydrochlorothiazide/  Valsartan
      10 mg/ 12.5 mg/ 160 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(6084,true)"}
      %strong Amlodipine/ Hydrochlorothiazide/  Valsartan
      10 mg/ 25 mg/ 160 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(6085,true)"}
      %strong Amlodipine/ Hydrochlorothiazide/  Valsartan
      10 mg/ 25 mg/ 320 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(511,true)"}
      %strong Amlodipine/Benazepril
      2.5 mg/10 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(512,true)"}
      %strong Amlodipine/Benazepril
      5 mg/10 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(513,true)"}
      %strong Amlodipine/Benazepril
      5 mg/20 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(5417,true)"}
      %strong Amlodipine/Benazepril
      5 mg/40 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(5418,true)"}
      %strong Amlodipine/Benazepril
      10 mg/20 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(5419,true)"}
      %strong Amlodipine/Benazepril
      10 mg/40 mg Capsule(s)
  %a{name: "Amm"}
  %a{name: "Ammo"}
  %a{name: "Ammon"}
  %a{name: "Ammoni"}
  .rule
  .med
    %a{href: "javascript:selectPill(6539,true)"}
      %strong Ammonium lactate
      12 % Application (Cream)
  .med
    %a{href: "javascript:selectPill(6540,true)"}
      %strong Ammonium lactate
      12 % Application (Lotion)
  %a{name: "Amo"}
  %a{name: "Amox"}
  %a{name: "Amoxi"}
  %a{name: "Amoxic"}
  .rule
  .med
    %a{href: "javascript:selectPill(70,true)"}
      %strong Amoxicillin
      250 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(71,true)"}
      %strong Amoxicillin
      500 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(72,true)"}
      %strong Amoxicillin
      200 mg Chewable Tablet(s)
  .med
    %a{href: "javascript:selectPill(7240,true)"}
      %strong Amoxicillin
      250 mg Chewable Tablet(s)
  .med
    %a{href: "javascript:selectPill(73,true)"}
      %strong Amoxicillin
      400 mg Chewable Tablet(s)
  .med
    %a{href: "javascript:selectPill(68,true)"}
      %strong Amoxicillin
      50 mg/mL mL(s)
  .med
    %a{href: "javascript:selectPill(5250,true)"}
      %strong Amoxicillin
      50 mg/mL mL(s)
  .med
    %a{href: "javascript:selectPill(74,true)"}
      %strong Amoxicillin
      125 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(75,true)"}
      %strong Amoxicillin
      200 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(76,true)"}
      %strong Amoxicillin
      250 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(77,true)"}
      %strong Amoxicillin
      400 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(78,true)"}
      %strong Amoxicillin
      500 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(69,true)"}
      %strong Amoxicillin
      875 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(115,true)"}
      %strong Amoxicillin/ Clavulanate
      200 mg/28.5 mg Chewable Tablet(s)
  .med
    %a{href: "javascript:selectPill(116,true)"}
      %strong Amoxicillin/ Clavulanate
      250 mg/62.5 mg Chewable Tablet(s)
  .med
    %a{href: "javascript:selectPill(117,true)"}
      %strong Amoxicillin/ Clavulanate
      400 mg/57 mg Chewable Tablet(s)
  .med
    %a{href: "javascript:selectPill(7533,true)"}
      %strong Amoxicillin/ Clavulanate
      1,000 mg/62.5 mg Extended release tablet(s)
  .med
    %a{href: "javascript:selectPill(118,true)"}
      %strong Amoxicillin/ Clavulanate
      125 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(119,true)"}
      %strong Amoxicillin/ Clavulanate
      200 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(120,true)"}
      %strong Amoxicillin/ Clavulanate
      250 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(121,true)"}
      %strong Amoxicillin/ Clavulanate
      400 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(114,true)"}
      %strong Amoxicillin/ Clavulanate
      250 mg/125 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(122,true)"}
      %strong Amoxicillin/ Clavulanate
      500 mg/125 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(123,true)"}
      %strong Amoxicillin/ Clavulanate
      875 mg/125 mg Tablet(s)
  %a{name: "Amoxil"}
  .rule
  .med
    %a{href: "javascript:selectPill(70,false)"}
      %strong
        Amoxil
        %span.super ®
      250 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(71,false)"}
      %strong
        Amoxil
        %span.super ®
      500 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(72,false)"}
      %strong
        Amoxil
        %span.super ®
      200 mg Chewable Tablet(s)
  .med
    %a{href: "javascript:selectPill(73,false)"}
      %strong
        Amoxil
        %span.super ®
      400 mg Chewable Tablet(s)
  .med
    %a{href: "javascript:selectPill(5250,false)"}
      %strong
        Amoxil
        %span.super ®
      50 mg/mL mL(s)
  .med
    %a{href: "javascript:selectPill(74,false)"}
      %strong
        Amoxil
        %span.super ®
      125 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(75,false)"}
      %strong
        Amoxil
        %span.super ®
      200 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(76,false)"}
      %strong
        Amoxil
        %span.super ®
      250 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(77,false)"}
      %strong
        Amoxil
        %span.super ®
      400 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(78,false)"}
      %strong
        Amoxil
        %span.super ®
      500 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(69,false)"}
      %strong
        Amoxil
        %span.super ®
      875 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(68,false)"}
      %strong
        Amoxil
        %span.super ®
        Drops
      50 mg/mL mL(s)
  %a{name: "Amp"}
  %a{name: "Amph"}
  %a{name: "Ampho"}
  %a{name: "Amphoj"}
  .rule
  .med
    %a{href: "javascript:selectPill(4731,false)"}
      %strong
        Amphojel
        %span.super ®
      600 mg Tablet(s)
  %a{name: "Amphot"}
  .rule
  .med
    %a{href: "javascript:selectPill(4732,false)"}
      %strong
        Amphotec
        %span.super ®
      50 mg/vial IV
  .med
    %a{href: "javascript:selectPill(4733,false)"}
      %strong
        Amphotec
        %span.super ®
      100 mg/vial IV
  .rule
  .med
    %a{href: "javascript:selectPill(4774,true)"}
      %strong Amphotericin B
      50 mg/vial Injection(s)
  .rule
  .med
    %a{href: "javascript:selectPill(6115,false)"}
      %strong Amphotericin B oral solution
      50 mcg/mL mL(s)
  %a{name: "Ampi"}
  %a{name: "Ampic"}
  %a{name: "Ampici"}
  .rule
  .med
    %a{href: "javascript:selectPill(4895,true)"}
      %strong Ampicillin sodium; Sulbactam sodium
      1.5 G Injection(s)
  .med
    %a{href: "javascript:selectPill(4896,true)"}
      %strong Ampicillin sodium; Sulbactam sodium
      3 G Injection(s)
  .med
    %a{href: "javascript:selectPill(4897,true)"}
      %strong Ampicillin sodium; Sulbactam sodium
      15 G Injection(s)
  .rule
  .med
    %a{href: "javascript:selectPill(4893,true)"}
      %strong Ampicillin Trihydrate
      250 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(4894,true)"}
      %strong Ampicillin Trihydrate
      500 mg Capsule(s)
  .rule
  .med
    %a{href: "javascript:selectPill(4879,true)"}
      %strong Ampicillin; Ampicillin Trihydrate
      250 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(4880,true)"}
      %strong Ampicillin; Ampicillin Trihydrate
      500 mg Capsule(s)
  %a{name: "Ampy"}
  %a{name: "Ampyr"}
  %a{name: "Ampyra"}
  .rule
  .med
    %a{href: "javascript:selectPill(7030,false)"}
      %strong
        Ampyra
        %span.super ®
      10 mg Extended release tablet(s)
  %a{name: "Amr"}
  %a{name: "Amri"}
  %a{name: "Amrix"}
  %a{name: "Amrix<"}
  .rule
  .med
    %a{href: "javascript:selectPill(6983,false)"}
      %strong
        Amrix
        %span.super ®
      15 mg Extended release capsule(s)
  .med
    %a{href: "javascript:selectPill(6984,false)"}
      %strong
        Amrix
        %span.super ®
      30 mg Extended release capsule(s)
  %a{name: "Amt"}
  %a{name: "Amtu"}
  %a{name: "Amtur"}
  %a{name: "Amturn"}
  .rule
  .med
    %a{href: "javascript:selectPill(7080,false)"}
      %strong
        Amturnide
        %span.super ®
      150 mg/5 mg/12.5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(7081,false)"}
      %strong
        Amturnide
        %span.super ®
      300 mg/5 mg/12.5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(7082,false)"}
      %strong
        Amturnide
        %span.super ®
      300 mg/5 mg/25 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(7083,false)"}
      %strong
        Amturnide
        %span.super ®
      300 mg/10 mg/12.5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(7084,false)"}
      %strong
        Amturnide
        %span.super ®
      300 mg/10 mg/25 mg Tablet(s)
  %a{name: "An"}
  %a{name: "Ana"}
  %a{name: "Anaf"}
  %a{name: "Anafr"}
  %a{name: "Anafra"}
  .rule
  .med
    %a{href: "javascript:selectPill(6814,false)"}
      %strong
        Anafranil
        %span.super ®
      25 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(6815,false)"}
      %strong
        Anafranil
        %span.super ®
      50 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(6816,false)"}
      %strong
        Anafranil
        %span.super ®
      75 mg Capsule(s)
  %a{name: "Anag"}
  %a{name: "Anagr"}
  %a{name: "Anagre"}
  .rule
  .med
    %a{href: "javascript:selectPill(6733,true)"}
      %strong Anagrelide HCL
      0.5 mg Capsule(s)
  %a{name: "Anap"}
  %a{name: "Anapr"}
  %a{name: "Anapro"}
  .rule
  .med
    %a{href: "javascript:selectPill(4734,false)"}
      %strong
        Anaprox
        %span.super ®
      275 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(4735,false)"}
      %strong
        Anaprox
        %span.super ®
        DS
      550 mg Tablet(s)
  %a{name: "Anas"}
  %a{name: "Anast"}
  %a{name: "Anastr"}
  .rule
  .med
    %a{href: "javascript:selectPill(4266,true)"}
      %strong Anastrozole
      1 mg Tablet(s)
  %a{name: "Anc"}
  %a{name: "Ance"}
  %a{name: "Ancef"}
  %a{name: "Ancef<"}
  .rule
  .med
    %a{href: "javascript:selectPill(4736,false)"}
      %strong
        Ancef
        %span.super ®
      1 G/vial Injection(s)
  .med
    %a{href: "javascript:selectPill(4737,false)"}
      %strong
        Ancef
        %span.super ®
      10 G/vial Injection(s)
  %a{name: "And"}
  %a{name: "Andr"}
  %a{name: "Andro"}
  %a{name: "Androd"}
  .rule
  .med
    %a{href: "javascript:selectPill(4541,false)"}
      %strong
        Androderm
        %span.super ®
      2.5 mg/24 hr Patch
  .med
    %a{href: "javascript:selectPill(4542,false)"}
      %strong
        Androderm
        %span.super ®
      5 mg/24 hr Patch
  %a{name: "Androg"}
  .rule
  .med
    %a{href: "javascript:selectPill(4085,false)"}
      %strong
        Androgel
        %span.super ®
      2.5 G Packet
  .med
    %a{href: "javascript:selectPill(4086,false)"}
      %strong
        Androgel
        %span.super ®
      5 G Packet
  .med
    %a{href: "javascript:selectPill(4084,false)"}
      %strong
        Androgel
        %span.super ®
      1.25 G Pump
  %a{name: "Ane"}
  %a{name: "Anec"}
  %a{name: "Anecr"}
  %a{name: "Anecre"}
  .rule
  .med
    %a{href: "javascript:selectPill(6890,false)"}
      %strong
        Anecream
        %span.super ®
      4 % Application(s)
  %a{name: "Ans"}
  %a{name: "Ansa"}
  %a{name: "Ansai"}
  %a{name: "Ansaid"}
  .rule
  .med
    %a{href: "javascript:selectPill(5219,false)"}
      %strong
        Ansaid
        %span.super ®
      50 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(5220,false)"}
      %strong
        Ansaid
        %span.super ®
      100 mg Tablet(s)
  %a{name: "Ant"}
  %a{name: "Anta"}
  %a{name: "Antab"}
  %a{name: "Antabu"}
  .rule
  .med
    %a{href: "javascript:selectPill(6280,false)"}
      %strong
        Antabuse
        %span.super ®
      250 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(6281,false)"}
      %strong
        Antabuse
        %span.super ®
      500 mg Tablet(s)
  %a{name: "Antar"}
  %a{name: "Antara"}
  .rule
  .med
    %a{href: "javascript:selectPill(80,false)"}
      %strong
        Antara
        %span.super ®
      43 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(79,false)"}
      %strong
        Antara
        %span.super ®
      130 mg Capsule(s)
  %a{name: "Anti"}
  %a{name: "Antiv"}
  %a{name: "Antive"}
  .rule
  .med
    %a{href: "javascript:selectPill(4935,false)"}
      %strong
        Antivert
        %span.super ®
      12.5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(4936,false)"}
      %strong
        Antivert
        %span.super ®
      25 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(4937,false)"}
      %strong
        Antivert
        %span.super ®
      50 mg Tablet(s)
  %a{name: "Anu"}
  %a{name: "Anus"}
  %a{name: "Anuso"}
  %a{name: "Anusol"}
  .rule
  .med
    %a{href: "javascript:selectPill(6941,false)"}
      %strong
        Anusol HC
        %span.super ®
        (Cream)
      2.5 % Application(s) (Cream)
  .rule
  .med
    %a{href: "javascript:selectPill(7031,false)"}
      %strong
        Anusol-HC
        %span.super ®
      25 mg Suppository
  %a{name: "Anz"}
  %a{name: "Anze"}
  %a{name: "Anzem"}
  %a{name: "Anzeme"}
  .rule
  .med
    %a{href: "javascript:selectPill(6761,false)"}
      %strong
        Anzemet
        %span.super ®
      20 mg/mL Injection(s)
  .med
    %a{href: "javascript:selectPill(6759,false)"}
      %strong
        Anzemet
        %span.super ®
      50 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(6760,false)"}
      %strong
        Anzemet
        %span.super ®
      100 mg Tablet(s)
  %a{name: "AP"}
  %a{name: "APA"}
  %a{name: "APAP"}
  %a{name: "APAP "}
  %a{name: "APAP w"}
  .rule
  .med
    %a{href: "javascript:selectPill(4938,false)"}
      %strong
        APAP w/ Codeine Phosphate
        %span.super ®
      325 mg/30 mg Tablet(s)
  %a{name: "Ap"}
  %a{name: "Api"}
  %a{name: "Apid"}
  %a{name: "Apidr"}
  %a{name: "Apidra"}
  .rule
  .med
    %a{href: "javascript:selectPill(5248,false)"}
      %strong
        Apidra
        %span.super ®
      100 units/mL Unit(s)
  .rule
  .med
    %a{href: "javascript:selectPill(6771,false)"}
      %strong
        Apidra
        %span.super ®
        Solostar
        %span.super ®
      100 units/mL Unit(s)
  %a{name: "Apl"}
  %a{name: "Apli"}
  %a{name: "Aplis"}
  %a{name: "Apliso"}
  .rule
  .med
    %a{href: "javascript:selectPill(5629,false)"}
      %strong
        Aplisol
        %span.super ®
      1 mL Injection(s)
  .med
    %a{href: "javascript:selectPill(5630,false)"}
      %strong
        Aplisol
        %span.super ®
      5 mL Injection(s)
  %a{name: "Apo"}
  %a{name: "Apok"}
  %a{name: "Apoky"}
  %a{name: "Apokyn"}
  .rule
  .med
    %a{href: "javascript:selectPill(4698,false)"}
      %strong
        Apokyn
        %span.super ®
      20 mg/2 mL Injection(s)
  .med
    %a{href: "javascript:selectPill(4699,false)"}
      %strong
        Apokyn
        %span.super ®
      30 mg/3 mL Injection(s)
  %a{name: "Apr"}
  %a{name: "Apre"}
  %a{name: "Aprep"}
  %a{name: "Aprepi"}
  .rule
  .med
    %a{href: "javascript:selectPill(6288,true)"}
      %strong Aprepitant
      40 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(6289,true)"}
      %strong Aprepitant
      80 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(6290,true)"}
      %strong Aprepitant
      125 mg Capsule(s)
  %a{name: "Apres"}
  %a{name: "Apreso"}
  .rule
  .med
    %a{href: "javascript:selectPill(83,false)"}
      %strong
        Apresoline
        %span.super ®
      10 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(84,false)"}
      %strong
        Apresoline
        %span.super ®
      25 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(85,false)"}
      %strong
        Apresoline
        %span.super ®
      50 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(82,false)"}
      %strong
        Apresoline
        %span.super ®
      100 mg Tablet(s)
  %a{name: "Apri"}
  %a{name: "Apri<"}
  %a{name: "Apri<s"}
  .rule
  .med
    %a{href: "javascript:selectPill(5727,false)"}
      %strong
        Apri
        %span.super ®
      0.15 mg; 0.03 mg Tablet(s)
  %a{name: "Apris"}
  %a{name: "Apriso"}
  .rule
  .med
    %a{href: "javascript:selectPill(6732,false)"}
      %strong
        Apriso
        %span.super ®
      0.375 G Extended release capsule(s)
  %a{name: "Apt"}
  %a{name: "Apti"}
  %a{name: "Aptiv"}
  %a{name: "Aptivu"}
  .rule
  .med
    %a{href: "javascript:selectPill(86,false)"}
      %strong
        Aptivus
        %span.super ®
      250 mg Capsule(s)
  %a{name: "Aq"}
  %a{name: "Aqu"}
  %a{name: "Aqua"}
  %a{name: "Aqua "}
  %a{name: "Aqua E"}
  .rule
  .med
    %a{href: "javascript:selectPill(6813,false)"}
      %strong
        Aqua E
        %span.super ®
      5 mL mL(s)
  %a{name: "AquA"}
  %a{name: "AquAd"}
  %a{name: "AquAde"}
  .rule
  .med
    %a{href: "javascript:selectPill(5319,false)"}
      %strong
        AquAdeks
        %span.super ®
      mL mL(s)
  .med
    %a{href: "javascript:selectPill(5318,false)"}
      %strong
        AquAdeks
        %span.super ®
      mg Softgel(s)
  %a{name: "Aqua"}
  %a{name: "AquaM"}
  %a{name: "AquaMe"}
  .rule
  .med
    %a{href: "javascript:selectPill(5088,false)"}
      %strong
        AquaMephyton
        %span.super ®
      10 mg/mL IV
  %a{name: "Aquap"}
  %a{name: "Aquaph"}
  .rule
  .med
    %a{href: "javascript:selectPill(6116,true)"}
      %strong Aquaphor/Maalox mixture 1:1
      Application(s)
  .rule
  .med
    %a{href: "javascript:selectPill(4649,false)"}
      %strong
        Aquaphor
        %span.super ®
      Application (Cream)
  .med
    %a{href: "javascript:selectPill(4648,false)"}
      %strong
        Aquaphor
        %span.super ®
      Application (Ointment)
  %a{name: "Ar"}
  %a{name: "Ara"}
  %a{name: "Aran"}
  %a{name: "Arane"}
  %a{name: "Aranes"}
  .rule
  .med
    %a{href: "javascript:selectPill(90,false)"}
      %strong
        Aranesp
        %span.super ®
      25 mcg Injection(s)
  .med
    %a{href: "javascript:selectPill(92,false)"}
      %strong
        Aranesp
        %span.super ®
      40 mcg Injection(s)
  .med
    %a{href: "javascript:selectPill(94,false)"}
      %strong
        Aranesp
        %span.super ®
      60 mcg Injection(s)
  .med
    %a{href: "javascript:selectPill(87,false)"}
      %strong
        Aranesp
        %span.super ®
      100 mcg Injection(s)
  .med
    %a{href: "javascript:selectPill(88,false)"}
      %strong
        Aranesp
        %span.super ®
      150 mcg Injection(s)
  .med
    %a{href: "javascript:selectPill(89,false)"}
      %strong
        Aranesp
        %span.super ®
      200 mcg Injection(s)
  .med
    %a{href: "javascript:selectPill(91,false)"}
      %strong
        Aranesp
        %span.super ®
      300 mcg Injection(s)
  .med
    %a{href: "javascript:selectPill(93,false)"}
      %strong
        Aranesp
        %span.super ®
      500 mcg Injection(s)
  %a{name: "Arav"}
  %a{name: "Arava"}
  %a{name: "Arava<"}
  .rule
  .med
    %a{href: "javascript:selectPill(4650,false)"}
      %strong
        Arava
        %span.super ®
      10 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(4651,false)"}
      %strong
        Arava
        %span.super ®
      20 mg  Tablet(s)
  .med
    %a{href: "javascript:selectPill(4652,false)"}
      %strong
        Arava
        %span.super ®
      100 mg Tablet(s)
  %a{name: "Arc"}
  %a{name: "Arca"}
  %a{name: "Arcap"}
  %a{name: "Arcapt"}
  .rule
  .med
    %a{href: "javascript:selectPill(7462,false)"}
      %strong
        Arcapta
        %span.super ®
        Neohaler
      75 mcg Puff(s)
  %a{name: "Are"}
  %a{name: "Ared"}
  %a{name: "Aredi"}
  %a{name: "Aredia"}
  .rule
  .med
    %a{href: "javascript:selectPill(5369,false)"}
      %strong
        Aredia
        %span.super ®
      30 mg/Vial Injection(s)
  .med
    %a{href: "javascript:selectPill(5370,false)"}
      %strong
        Aredia
        %span.super ®
      60 mg/Vial Injection(s)
  .med
    %a{href: "javascript:selectPill(5371,false)"}
      %strong
        Aredia
        %span.super ®
      90 mg/Vial Injection(s)
  %a{name: "Arg"}
  %a{name: "Arga"}
  %a{name: "Argat"}
  %a{name: "Argatr"}
  .rule
  .med
    %a{href: "javascript:selectPill(5382,false)"}
      %strong
        Argatroban
        %span.super ®
      100 mg/mL Injection(s)
  .med
    %a{href: "javascript:selectPill(5642,false)"}
      %strong
        Argatroban
        %span.super ®
      100mg/mL Injection(s)
  %a{name: "Ari"}
  %a{name: "Aric"}
  %a{name: "Arice"}
  %a{name: "Aricep"}
  .rule
  .med
    %a{href: "javascript:selectPill(3852,false)"}
      %strong
        Aricept
        %span.super ®
      5 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(3850,false)"}
      %strong
        Aricept
        %span.super ®
      5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(3851,false)"}
      %strong
        Aricept
        %span.super ®
      10 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(7021,false)"}
      %strong
        Aricept
        %span.super ®
      23 mg Tablet(s)
  %a{name: "Arim"}
  %a{name: "Arimi"}
  %a{name: "Arimid"}
  .rule
  .med
    %a{href: "javascript:selectPill(4266,false)"}
      %strong
        Arimidex
        %span.super ®
      1 mg Tablet(s)
  %a{name: "Aris"}
  %a{name: "Arist"}
  %a{name: "Aristo"}
  .rule
  .med
    %a{href: "javascript:selectPill(6045,false)"}
      %strong
        Aristocort
        %span.super ®
      0.5 % Application(s) (cream)
  .med
    %a{href: "javascript:selectPill(6046,false)"}
      %strong
        Aristocort
        %span.super ®
      0.025 % Application(s) (cream)
  .med
    %a{href: "javascript:selectPill(6047,false)"}
      %strong
        Aristocort
        %span.super ®
      0.1 % Application(s) (cream)
  %a{name: "Arix"}
  %a{name: "Arixt"}
  %a{name: "Arixtr"}
  .rule
  .med
    %a{href: "javascript:selectPill(4030,false)"}
      %strong
        Arixtra
        %span.super ®
      2.5 mg/0.5 mL Injection(s)
  .med
    %a{href: "javascript:selectPill(4031,false)"}
      %strong
        Arixtra
        %span.super ®
      5 mg/0.4 mL Injection(s)
  .med
    %a{href: "javascript:selectPill(4032,false)"}
      %strong
        Arixtra
        %span.super ®
      7.5 mg/0.6 mL  Injection(s)
  .med
    %a{href: "javascript:selectPill(4029,false)"}
      %strong
        Arixtra
        %span.super ®
      10 mg/0.8 mL Injection(s)
  %a{name: "Arm"}
  %a{name: "Armo"}
  %a{name: "Armod"}
  %a{name: "Armoda"}
  .rule
  .med
    %a{href: "javascript:selectPill(6606,true)"}
      %strong Armodafinil
      50 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(6608,true)"}
      %strong Armodafinil
      150 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(6610,true)"}
      %strong Armodafinil
      250 mg Tablet(s)
  %a{name: "Armou"}
  %a{name: "Armour"}
  .rule
  .med
    %a{href: "javascript:selectPill(5105,false)"}
      %strong
        Armour Thyroid
        %span.super ®
      15 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(5106,false)"}
      %strong
        Armour Thyroid
        %span.super ®
      30 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(5107,false)"}
      %strong
        Armour Thyroid
        %span.super ®
      60 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(5108,false)"}
      %strong
        Armour Thyroid
        %span.super ®
      90 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(5109,false)"}
      %strong
        Armour Thyroid
        %span.super ®
      120 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(5110,false)"}
      %strong
        Armour Thyroid
        %span.super ®
      180 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(5111,false)"}
      %strong
        Armour Thyroid
        %span.super ®
      240 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(5112,false)"}
      %strong
        Armour Thyroid
        %span.super ®
      300 mg Tablet(s)
  %a{name: "Aro"}
  %a{name: "Arom"}
  %a{name: "Aroma"}
  %a{name: "Aromas"}
  .rule
  .med
    %a{href: "javascript:selectPill(4334,false)"}
      %strong
        Aromasin
        %span.super ®
      25 mg Tablet(s)
  %a{name: "Arr"}
  %a{name: "Arra"}
  %a{name: "Arran"}
  %a{name: "Arrano"}
  .rule
  .med
    %a{href: "javascript:selectPill(5646,false)"}
      %strong
        Arranon
        %span.super ®
      250 mg/50 mL Infusion
  %a{name: "Art"}
  %a{name: "Arta"}
  %a{name: "Artan"}
  %a{name: "Artane"}
  .rule
  .med
    %a{href: "javascript:selectPill(4712,false)"}
      %strong
        Artane
        %span.super ®
      2 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(4713,false)"}
      %strong
        Artane
        %span.super ®
      2 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(4714,false)"}
      %strong
        Artane
        %span.super ®
      5 mg Tablet(s)
  %a{name: "Arth"}
  %a{name: "Arthr"}
  %a{name: "Arthro"}
  .rule
  .med
    %a{href: "javascript:selectPill(6070,false)"}
      %strong
        Arthrotec
        %span.super ®
      50 mg/0.2 mg Delayed release tablet(s)
  .med
    %a{href: "javascript:selectPill(6071,false)"}
      %strong
        Arthrotec
        %span.super ®
      75 mg/ 0.2 mg Delayed release tablet(s)
  %a{name: "Arti"}
  %a{name: "Artif"}
  %a{name: "Artifi"}
  .rule
  .med
    %a{href: "javascript:selectPill(6847,false)"}
      %strong
        Artificial Tears
        %span.super ®
      0.5 %/ 0.6 % Drop(s)
  %a{name: "As"}
  %a{name: "Asa"}
  %a{name: "Asac"}
  %a{name: "Asaco"}
  %a{name: "Asacol"}
  .rule
  .med
    %a{href: "javascript:selectPill(4420,false)"}
      %strong
        Asacol
        %span.super ®
      400 mg Delayed Release Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(6927,false)"}
      %strong
        Asacol
        %span.super ®
        HD
      800 mg Delayed Release Tablet(s)
  %a{name: "Asc"}
  %a{name: "Asco"}
  %a{name: "Ascor"}
  %a{name: "Ascorb"}
  .rule
  .med
    %a{href: "javascript:selectPill(6849,true)"}
      %strong Ascorbic Acid
      600 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(6848,true)"}
      %strong Ascorbic Acid
      60 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(4795,true)"}
      %strong Ascorbic Acid
      250 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(880,true)"}
      %strong Ascorbic Acid
      500 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(4796,true)"}
      %strong Ascorbic Acid
      1,000 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(6034,true)"}
      %strong Ascorbic Acid
      1,200 mg Tablet(s)
  %a{name: "Asm"}
  %a{name: "Asma"}
  %a{name: "Asman"}
  %a{name: "Asmane"}
  .rule
  .med
    %a{href: "javascript:selectPill(4370,false)"}
      %strong
        Asmanex
        %span.super ®
      0.22 mg/inh Puff(s)
  .rule
  .med
    %a{href: "javascript:selectPill(6008,false)"}
      %strong
        Asmanex
        %span.super ®
        Twisthaler
        %span.super ®
      110 mcg Puff(s)
  %a{name: "Asp"}
  %a{name: "Aspe"}
  %a{name: "Asper"}
  %a{name: "Asperc"}
  .rule
  .med
    %a{href: "javascript:selectPill(7472,false)"}
      %strong
        Aspercreme
        %span.super ®
      10 % Application(s) (Cream)
  .rule
  .med
    %a{href: "javascript:selectPill(7475,false)"}
      %strong
        Aspercreme
        %span.super ®
        Heat
      10 % Application (Gel)
  .rule
  .med
    %a{href: "javascript:selectPill(7473,false)"}
      %strong
        Aspercreme
        %span.super ®
        Lotion
      10 % Application(s) (Lotion)
  .rule
  .med
    %a{href: "javascript:selectPill(7474,false)"}
      %strong
        Aspercreme
        %span.super ®
        Max
      16 % Application (roll-on)
  %a{name: "Aspi"}
  %a{name: "Aspir"}
  %a{name: "Aspiri"}
  .rule
  .med
    %a{href: "javascript:selectPill(7197,true)"}
      %strong Aspirin
      81 mg Chewable tablet(s)
  .med
    %a{href: "javascript:selectPill(5162,true)"}
      %strong Aspirin
      81 mg Enteric coated tablet(s)
  .med
    %a{href: "javascript:selectPill(96,true)"}
      %strong Aspirin
      81 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(6212,true)"}
      %strong Aspirin
      100 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(95,true)"}
      %strong Aspirin
      325 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(4638,true)"}
      %strong Aspirin
      500 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(6794,true)"}
      %strong Aspirin/ Butalbital/ Caffeine
      325 mg/50 mg/40 mg Capsule(s)
  .rule
  .med
    %a{href: "javascript:selectPill(6795,true)"}
      %strong Aspirin/ Butalbital/ Caffeine/Codeine Phosphate
      325 mg/50 mg/40 mg/30 mg Capsule(s)
  .rule
  .med
    %a{href: "javascript:selectPill(645,true)"}
      %strong Aspirin/ Oxycodone Hydrochloride/ Oxycodone Terephthalate
      325 mg/4.5 mg/0.38 mg Tablet(s)
  %a{name: "Ast"}
  %a{name: "Asta"}
  %a{name: "Astag"}
  %a{name: "Astagr"}
  .rule
  .med
    %a{href: "javascript:selectPill(7579,false)"}
      %strong
        Astagraf
        %span.super ®
      0.5 mg Extend release capsule(s)
  .med
    %a{href: "javascript:selectPill(7580,false)"}
      %strong
        Astagraf
        %span.super ®
      1 mg Extend release capsule(s)
  .med
    %a{href: "javascript:selectPill(7581,false)"}
      %strong
        Astagraf
        %span.super ®
      5 mg Extend release capsule(s)
  %a{name: "Aste"}
  %a{name: "Astel"}
  %a{name: "Asteli"}
  .rule
  .med
    %a{href: "javascript:selectPill(4367,false)"}
      %strong
        Astelin
        %span.super ®
      0.125 mg/spray Spray
  %a{name: "Astep"}
  %a{name: "Astepr"}
  .rule
  .med
    %a{href: "javascript:selectPill(6541,false)"}
      %strong
        Astepro
        %span.super ®
      0.1 % Spray
  .med
    %a{href: "javascript:selectPill(6542,false)"}
      %strong
        Astepro
        %span.super ®
      0.15 % Spray
  %a{name: "At"}
  %a{name: "Ata"}
  %a{name: "Atac"}
  %a{name: "Ataca"}
  %a{name: "Atacan"}
  .rule
  .med
    %a{href: "javascript:selectPill(97,false)"}
      %strong
        Atacand HCT
        %span.super ®
      16 mg/12.5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(98,false)"}
      %strong
        Atacand HCT
        %span.super ®
      32 mg/12.5 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(101,false)"}
      %strong
        Atacand
        %span.super ®
      4 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(102,false)"}
      %strong
        Atacand
        %span.super ®
      8 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(99,false)"}
      %strong
        Atacand
        %span.super ®
      16 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(100,false)"}
      %strong
        Atacand
        %span.super ®
      32 mg Tablet(s)
  %a{name: "Atap"}
  %a{name: "Atapr"}
  %a{name: "Atapry"}
  .rule
  .med
    %a{href: "javascript:selectPill(4704,false)"}
      %strong
        Atapryl
        %span.super ®
      5 mg Tablet(s)
  %a{name: "Atar"}
  %a{name: "Atara"}
  %a{name: "Atarax"}
  .rule
  .med
    %a{href: "javascript:selectPill(103,false)"}
      %strong
        Atarax
        %span.super ®
      10 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(105,false)"}
      %strong
        Atarax
        %span.super ®
      10 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(106,false)"}
      %strong
        Atarax
        %span.super ®
      25 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(107,false)"}
      %strong
        Atarax
        %span.super ®
      50 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(104,false)"}
      %strong
        Atarax
        %span.super ®
      100 mg Tablet(s)
  %a{name: "Ate"}
  %a{name: "Atel"}
  %a{name: "Atelv"}
  %a{name: "Atelvi"}
  .rule
  .med
    %a{href: "javascript:selectPill(7085,false)"}
      %strong
        Atelvia
        %span.super ®
      35 mg Delayed Release Tablet(s)
  %a{name: "Aten"}
  %a{name: "Ateno"}
  %a{name: "Atenol"}
  .rule
  .med
    %a{href: "javascript:selectPill(814,true)"}
      %strong Atenolol
      25 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(815,true)"}
      %strong Atenolol
      50 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(813,true)"}
      %strong Atenolol
      100 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(6117,false)"}
      %strong Atenolol Suspension
      2 mg/mL mL(s)
  .rule
  .med
    %a{href: "javascript:selectPill(5700,true)"}
      %strong Atenolol/ Chlorthalidone
      50 mg/ 25 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(5701,true)"}
      %strong Atenolol/ Chlorthalidone
      100 mg/ 25 mg Tablet(s)
  %a{name: "Atg"}
  %a{name: "Atga"}
  %a{name: "Atgam"}
  %a{name: "Atgam<"}
  .rule
  .med
    %a{href: "javascript:selectPill(4738,false)"}
      %strong
        Atgam
        %span.super ®
      50 mg/mL IV
  %a{name: "Ati"}
  %a{name: "Ativ"}
  %a{name: "Ativa"}
  %a{name: "Ativan"}
  .rule
  .med
    %a{href: "javascript:selectPill(5154,false)"}
      %strong
        Ativan
        %span.super ®
      2 mg/mL Injection(s)
  .med
    %a{href: "javascript:selectPill(5155,false)"}
      %strong
        Ativan
        %span.super ®
      4 mg/mL Injection(s)
  .med
    %a{href: "javascript:selectPill(6682,false)"}
      %strong
        Ativan
        %span.super ®
      0.5 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(108,false)"}
      %strong
        Ativan
        %span.super ®
      0.5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(109,false)"}
      %strong
        Ativan
        %span.super ®
      1 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(110,false)"}
      %strong
        Ativan
        %span.super ®
      2 mg Tablet(s)
  %a{name: "Ato"}
  %a{name: "Atom"}
  %a{name: "Atomo"}
  %a{name: "Atomox"}
  .rule
  .med
    %a{href: "javascript:selectPill(782,true)"}
      %strong Atomoxetine Hydrochloride
      10 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(783,true)"}
      %strong Atomoxetine Hydrochloride
      18 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(784,true)"}
      %strong Atomoxetine Hydrochloride
      25 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(785,true)"}
      %strong Atomoxetine Hydrochloride
      40 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(787,true)"}
      %strong Atomoxetine Hydrochloride
      60 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(788,true)"}
      %strong Atomoxetine Hydrochloride
      80 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(781,true)"}
      %strong Atomoxetine Hydrochloride
      100 mg Capsule(s)
  %a{name: "Ator"}
  %a{name: "Atorv"}
  %a{name: "Atorva"}
  .rule
  .med
    %a{href: "javascript:selectPill(498,true)"}
      %strong Atorvastatin
      10 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(499,true)"}
      %strong Atorvastatin
      20 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(496,true)"}
      %strong Atorvastatin
      40 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(497,true)"}
      %strong Atorvastatin
      80 mg Tablet(s)
  %a{name: "Atov"}
  %a{name: "Atova"}
  %a{name: "Atovaq"}
  .rule
  .med
    %a{href: "javascript:selectPill(3986,true)"}
      %strong Atovaquone; Proguanil Hydrochloride
      250 mg/100 mg Tablet(s)
  %a{name: "Atr"}
  %a{name: "Atri"}
  %a{name: "Atrid"}
  %a{name: "Atrido"}
  .rule
  .med
    %a{href: "javascript:selectPill(5542,false)"}
      %strong
        Atridox
        %span.super ®
      50 mg Injection(s)
  %a{name: "Atrip"}
  %a{name: "Atripl"}
  .rule
  .med
    %a{href: "javascript:selectPill(4054,false)"}
      %strong
        Atripla
        %span.super ®
      600 mg/ 200 mg/ 300 mg Tablet(s)
  %a{name: "Atro"}
  %a{name: "Atrop"}
  %a{name: "Atropi"}
  .rule
  .med
    %a{href: "javascript:selectPill(4153,true)"}
      %strong Atropine Sulfate; Diphenoxylate Hydrochloride
      0.025 mg/5 mL; 2.5 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(4154,true)"}
      %strong Atropine Sulfate; Diphenoxylate Hydrochloride
      0.025 mg/2.5 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(6418,false)"}
      %strong
        Atropine
        %span.super ®
      0.1 mg/mL IV
  .med
    %a{href: "javascript:selectPill(7275,false)"}
      %strong
        Atropine
        %span.super ®
      0.05 mg/mL IV
  %a{name: "Atrov"}
  %a{name: "Atrove"}
  .rule
  .med
    %a{href: "javascript:selectPill(111,false)"}
      %strong
        Atrovent
        %span.super ®
      0.017 mg/actuation Puff(s)
  .med
    %a{href: "javascript:selectPill(6009,false)"}
      %strong
        Atrovent
        %span.super ®
      0.03 % Spray
  .med
    %a{href: "javascript:selectPill(113,false)"}
      %strong
        Atrovent
        %span.super ®
      0.06 % Spray
  %a{name: "Au"}
  %a{name: "Aug"}
  %a{name: "Augm"}
  %a{name: "Augme"}
  %a{name: "Augmen"}
  .rule
  .med
    %a{href: "javascript:selectPill(6619,false)"}
      %strong
        Augmentin ES-600
        %span.super ®
      600 mg/5 mL EQ 42.9 mg/5 mL mL(s)
  .rule
  .med
    %a{href: "javascript:selectPill(115,false)"}
      %strong
        Augmentin
        %span.super ®
      200 mg/28.5 mg Chewable Tablet(s)
  .med
    %a{href: "javascript:selectPill(116,false)"}
      %strong
        Augmentin
        %span.super ®
      250 mg/62.5 mg Chewable Tablet(s)
  .med
    %a{href: "javascript:selectPill(117,false)"}
      %strong
        Augmentin
        %span.super ®
      400 mg/57 mg Chewable Tablet(s)
  .med
    %a{href: "javascript:selectPill(118,false)"}
      %strong
        Augmentin
        %span.super ®
      125 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(119,false)"}
      %strong
        Augmentin
        %span.super ®
      200 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(120,false)"}
      %strong
        Augmentin
        %span.super ®
      250 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(121,false)"}
      %strong
        Augmentin
        %span.super ®
      400 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(114,false)"}
      %strong
        Augmentin
        %span.super ®
      250 mg/125 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(122,false)"}
      %strong
        Augmentin
        %span.super ®
      500 mg/125 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(123,false)"}
      %strong
        Augmentin
        %span.super ®
      875 mg/125 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(7533,false)"}
      %strong
        Augmentin
        %span.super ®
        XR
      1,000 mg/62.5 mg Extended release tablet(s)
  %a{name: "Av"}
  %a{name: "Ava"}
  %a{name: "Aval"}
  %a{name: "Avali"}
  %a{name: "Avalid"}
  .rule
  .med
    %a{href: "javascript:selectPill(4275,false)"}
      %strong
        Avalide
        %span.super ®
      12.5 mg/150 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(4276,false)"}
      %strong
        Avalide
        %span.super ®
      12.5 mg/300 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(4277,false)"}
      %strong
        Avalide
        %span.super ®
      25 mg/300 mg Tablet(s)
  %a{name: "Avan"}
  %a{name: "Avand"}
  %a{name: "Avanda"}
  .rule
  .med
    %a{href: "javascript:selectPill(124,false)"}
      %strong
        Avandamet
        %span.super ®
      1 mg/500 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(125,false)"}
      %strong
        Avandamet
        %span.super ®
      2 mg/1,000 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(126,false)"}
      %strong
        Avandamet
        %span.super ®
      2 mg/500 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(127,false)"}
      %strong
        Avandamet
        %span.super ®
      4 mg/1000 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(128,false)"}
      %strong
        Avandamet
        %span.super ®
      4 mg/500 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(4033,false)"}
      %strong
        Avandaryl
        %span.super ®
      1 mg/4 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(4035,false)"}
      %strong
        Avandaryl
        %span.super ®
      2 mg/4 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(4034,false)"}
      %strong
        Avandaryl
        %span.super ®
      4 mg/4 mg Tablet(s)
  %a{name: "Avandi"}
  .rule
  .med
    %a{href: "javascript:selectPill(129,false)"}
      %strong
        Avandia
        %span.super ®
      2 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(130,false)"}
      %strong
        Avandia
        %span.super ®
      4mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(131,false)"}
      %strong
        Avandia
        %span.super ®
      8mg Tablet(s)
  %a{name: "Avap"}
  %a{name: "Avapr"}
  %a{name: "Avapro"}
  .rule
  .med
    %a{href: "javascript:selectPill(134,false)"}
      %strong
        Avapro
        %span.super ®
      75 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(132,false)"}
      %strong
        Avapro
        %span.super ®
      150 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(133,false)"}
      %strong
        Avapro
        %span.super ®
      300 mg Tablet(s)
  %a{name: "Avas"}
  %a{name: "Avast"}
  %a{name: "Avasti"}
  .rule
  .med
    %a{href: "javascript:selectPill(5627,false)"}
      %strong
        Avastin
        %span.super ®
      100 mg IV
  .med
    %a{href: "javascript:selectPill(5628,false)"}
      %strong
        Avastin
        %span.super ®
      400 mg IV
  %a{name: "Ave"}
  %a{name: "Avee"}
  %a{name: "Aveen"}
  %a{name: "Aveeno"}
  .rule
  .med
    %a{href: "javascript:selectPill(6446,false)"}
      %strong
        Aveeno
        %span.super ®
        Soothing Bath Treatment
      Packet
  %a{name: "Avel"}
  %a{name: "Avelo"}
  %a{name: "Avelox"}
  .rule
  .med
    %a{href: "javascript:selectPill(4060,false)"}
      %strong
        Avelox
        %span.super ®
      400 mg Tablet(s)
  %a{name: "Avi"}
  %a{name: "Avia"}
  %a{name: "Avian"}
  %a{name: "Aviane"}
  .rule
  .med
    %a{href: "javascript:selectPill(5728,false)"}
      %strong
        Aviane
        %span.super ®
        28
      0.1 mg/ 0.02 mg Tablet(s)
  %a{name: "Avo"}
  %a{name: "Avod"}
  %a{name: "Avoda"}
  %a{name: "Avodar"}
  .rule
  .med
    %a{href: "javascript:selectPill(4036,false)"}
      %strong
        Avodart
        %span.super ®
      0.5 mg Capsule(s)
  %a{name: "Avon"}
  %a{name: "Avone"}
  %a{name: "Avonex"}
  .rule
  .med
    %a{href: "javascript:selectPill(3853,false)"}
      %strong
        Avonex
        %span.super ®
      30 ug/mL Injection(s)
  %a{name: "Ax"}
  %a{name: "Axe"}
  %a{name: "Axer"}
  %a{name: "Axert"}
  %a{name: "Axert<"}
  .rule
  .med
    %a{href: "javascript:selectPill(6458,false)"}
      %strong
        Axert
        %span.super ®
      6.25 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(6459,false)"}
      %strong
        Axert
        %span.super ®
      12.5 mg Tablet(s)
  %a{name: "Axi"}
  %a{name: "Axid"}
  %a{name: "Axid<"}
  %a{name: "Axid<s"}
  .rule
  .med
    %a{href: "javascript:selectPill(135,false)"}
      %strong
        Axid
        %span.super ®
      150 mg Capsule(s)
  .med
    %a{href: "javascript:selectPill(136,false)"}
      %strong
        Axid
        %span.super ®
      300 mg Capsule(s)
  %a{name: "Axir"}
  %a{name: "Axiro"}
  %a{name: "Axiron"}
  .rule
  .med
    %a{href: "javascript:selectPill(7086,false)"}
      %strong
        Axiron
        %span.super ®
      30 mg/1.5 mL Application(s)
  %a{name: "Az"}
  %a{name: "Aza"}
  %a{name: "Azac"}
  %a{name: "Azact"}
  %a{name: "Azacta"}
  .rule
  .med
    %a{href: "javascript:selectPill(4739,false)"}
      %strong
        Azactam
        %span.super ®
      500 mg/vial Injection(s)
  .med
    %a{href: "javascript:selectPill(4740,false)"}
      %strong
        Azactam
        %span.super ®
      1 G/vial Injection(s)
  .med
    %a{href: "javascript:selectPill(4741,false)"}
      %strong
        Azactam
        %span.super ®
      2 G/vial Injection(s)
  %a{name: "Azat"}
  %a{name: "Azath"}
  %a{name: "Azathi"}
  .rule
  .med
    %a{href: "javascript:selectPill(412,true)"}
      %strong Azathioprine
      50 mg Tablet(s)
  .rule
  .med
    %a{href: "javascript:selectPill(6118,false)"}
      %strong Azathioprine Suspension
      50 mg/mL mL(s)
  %a{name: "Aze"}
  %a{name: "Azel"}
  %a{name: "Azela"}
  %a{name: "Azelas"}
  .rule
  .med
    %a{href: "javascript:selectPill(6541,true)"}
      %strong Azelastine Hydrochloride
      0.1 % Spray
  .med
    %a{href: "javascript:selectPill(6542,true)"}
      %strong Azelastine Hydrochloride
      0.15 % Spray
  %a{name: "Azele"}
  %a{name: "Azelex"}
  .rule
  .med
    %a{href: "javascript:selectPill(6637,false)"}
      %strong
        Azelex
        %span.super ®
      20 % Application (Cream)
  %a{name: "Azi"}
  %a{name: "Azil"}
  %a{name: "Azile"}
  %a{name: "Azilec"}
  .rule
  .med
    %a{href: "javascript:selectPill(4706,false)"}
      %strong
        Azilect
        %span.super ®
      0.5 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(4707,false)"}
      %strong
        Azilect
        %span.super ®
      1 mg Tablet(s)
  %a{name: "Azit"}
  %a{name: "Azith"}
  %a{name: "Azithr"}
  .rule
  .med
    %a{href: "javascript:selectPill(921,true)"}
      %strong Azithromycin
      100 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(922,true)"}
      %strong Azithromycin
      200 mg/5 mL mL(s)
  .med
    %a{href: "javascript:selectPill(923,true)"}
      %strong Azithromycin
      250 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(924,true)"}
      %strong Azithromycin
      500 mg Tablet(s)
  .med
    %a{href: "javascript:selectPill(925,true)"}
      %strong Azithromycin
      600 mg Tablet(s)
  %a{name: "Azm"}
  %a{name: "Azma"}
  %a{name: "Azmac"}
  %a{name: "Azmaco"}
  .rule
  .med
    %a{href: "javascript:selectPill(5139,false)"}
      %strong
        Azmacort
        %span.super ®
      0.1 mg/inh Puff(s)
  %a{name: "Azo"}
  %a{name: "Azop"}
  %a{name: "Azopt"}
  %a{name: "Azopt<"}
  .rule
  .med
    %a{href: "javascript:selectPill(5377,false)"}
      %strong
        Azopt
        %span.super ®
      1 % Drop(s)
  %a{name: "Azor"}
  %a{name: "Azor<"}
  %a{name: "Azor<s"}
  .rule
  .med
    %a{href: "javascript:selectPill(5692,false)"}
      %strong
        Azor
        %span.super ®
      5 mg/ 20 mg  Tablet(s)
  .med
    %a{href: "javascript:selectPill(5693,false)"}
      %strong
        Azor
        %span.super ®
      5 mg/ 40 mg  Tablet(s)
  .med
    %a{href: "javascript:selectPill(5694,false)"}
      %strong
        Azor
        %span.super ®
      10 mg/ 20 mg  Tablet(s)
  .med
    %a{href: "javascript:selectPill(5695,false)"}
      %strong
        Azor
        %span.super ®
      10 mg/ 40 mg  Tablet(s)
  %a{name: "Azt"}
  %a{name: "Aztr"}
  %a{name: "Aztre"}
  %a{name: "Aztreo"}
  .rule
  .med
    %a{href: "javascript:selectPill(4739,true)"}
      %strong Aztreonam
      500 mg/vial Injection(s)
  .med
    %a{href: "javascript:selectPill(4740,true)"}
      %strong Aztreonam
      1 G/vial Injection(s)
  .med
    %a{href: "javascript:selectPill(4741,true)"}
      %strong Aztreonam
      2 G/vial Injection(s)
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
