%h1 Listing doctors

%table
  %thead
    %tr
      %th Name
      %th Phone
      %th Address1
      %th Address2
      %th City
      %th State
      %th Zip
      %th Specialty
      %th
      %th
  %tbody
    - @doctors.each do |doctor|
      %tr
        %td= doctor.name
        %td= doctor.phone
        %td= doctor.address1
        %td= doctor.address2
        %td= doctor.city
        %td= doctor.state
        %td= doctor.zip
        %td= doctor.specialty
        %td= link_to 'Edit', edit_doctor_path(doctor)
        %td= link_to 'Destroy', doctor, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Doctor', new_doctor_path, class: 'button'
