!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "foundation-rails"
    = stylesheet_link_tag    "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    / %nav.top-bar
    .off-canvas-wrap
      .inner-wrap
        %nav.tab-bar
          %section.left-small
            %a.left-off-canvas-toggle.menu-icon
              %span
          %section.middle.tab-bar-section
            %h1.title My Medicine Tracker
          %section.right-small
            %a.right-off-canvas-toggle.menu-icon
              %span
        %aside.left-off-canvas-menu
          %ul.off-canvas-list
            - if current_user
              %li= link_to "My Dependants", dependents_path,'data-no-turbolink' => true
              %li= link_to "My Medications", medications_path, 'data-no-turbolink' => true
              %li= link_to "Doctors", doctors_path, 'data-no-turbolink' => true
              %li= link_to "Pharmacies", pharmacies_path, 'data-no-turbolink' => true
        %aside.right-off-canvas-menu
          %ul.off-canvas-list
            - if current_user
              %li= link_to "Logout", destroy_user_session_path, method: :delete
            - else
              %li= link_to "Login", new_user_session_path
        %section.main-section
          .row
            = yield
          / content goes here

    %a.exit-off-canvas
    %p.notice= notice
    %p.alert= alert
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/modernizr"

