!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "foundation-rails"
    = stylesheet_link_tag    "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .row
  .large-3.columns
    %h1
      = image_tag("logo.png")
  .large-9.columns
    - if current_user
      %ul.right.button-group
        %li
          %li= link_to "Dependents", dependents_path, :class => 'button tiny'
        %li
          %li= link_to "Doctors", doctors_path, :class => 'button tiny'
        %li
          %li= link_to "Pharmacies", pharmacies_path, :class => 'button tiny'
        %li= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'button tiny'
    - else
      %ul.right.button-group
        - if current_user
          %li= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'button tiny'
/ End Header and Nav
/ First Band (Slider)
.row
  .large-12.columns
    = yield

/ Footer
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p &copy; Copyright no one at all. Go to town.
      .large-6.columns
        %ul.inline-list.right
          %li
            %a{:href => "#"} Link 1
          %li
            %a{:href => "#"} Link 2
          %li
            %a{:href => "#"} Link 3
          %li
            %a{:href => "#"} Link 4

    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag :defaults